doctype html
{% include html/core/head.html %}
{% include html/core/sidebar.html %}
{% include html/components/search.html %}
{% include html/components/back_to_top.html %}
#page-content-wrapper.home
  .section.posts
    .container
      
      .category-title
        a(href='{{ site.baseurl }}/affiliations')
          h5 Affiliations
      {{ content }}

      {% include html/core/scripts.html %}
  {% include html/core/footer.html %}
