doctype html
{% include html/core/head.html %}
{% include html/core/sidebar.html %}
{% include html/components/search.html %}
{% include html/components/back_to_top.html %}
#page-content-wrapper.home
  .section.posts
    .container
      
      .category-title
        a(href='{{ site.baseurl }}/{{ page.category | downcase }}')
          h5 {{ page.category }}
          
      {% if site.categories.[page.category] == null %}
      span There are currently no events planned
      {% else %}
      
      {% for post in site.categories.[page.category] %}
      h2.bold {{ post.title }}
      span.date posted: {{ post.date | date: "%m-%d-%Y" }}
      .content {{ post.content }}
      {% endfor %}
      
      {% endif %}
      {% include html/core/scripts.html %}
    {% include html/core/footer.html %}
