doctype html
{% include html/core/head.html %}
{% include html/core/sidebar.html %}
{% include html/components/search.html %}
{% include html/components/back_to_top.html %}
#page-content-wrapper.home
  .section.posts
    .container
      
      .category-title
        a(href='{{ site.baseurl }}/{{ page.category | downcase }}')
          h5 {{ page.category }}
      
      {% for post in site.categories.[page.category] %}
      h2
        a(href='{{ site.baseurl }}{{ post.url }}') {{ post.title }}
      span.date updated: {% last_modified_at %m-%d-%Y %}
      {% endfor %}
      
      {% include html/core/scripts.html %}
      //- {% include html/core/footer.html %}
