doctype html
{% include html/core/head.html %}
{% include html/core/sidebar.html %}
{% include html/components/back_to_top.html %}
#page-content-wrapper.home
  {% include html/components/search.html %}
  .section.posts
    .container
      .category-title
        h5 {{ page.category }}
      {% for post in site.categories.[page.category] %}
      ul
        li
          h2
            a(href='{{ site.baseurl }}{{ post.url }}') {{ post.title }}
      {% endfor %}
      {% include html/core/scripts.html %}
      //- {% include html/core/footer.html %}
