# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
locale                   : "en"
title                    : "The Open Source Club at the Ohio State University"
title_separator          : "-"
name                     : &name "Open Source Club"
description              : "Tutorials, talks, and news for all your FOSS needs."
url                      : # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : # the subpath of your site, e.g. "/blog"
repository               : https://github.com/OSUOSC # GitHub username/repo-name e.g. "mmistakes/minimal-mistakes"
teaser                   : "assets/images/500x300.png" # path of fallback teaser image, e.g. "/assets/images/500x300.png"
# breadcrumbs            : false # true, false (default)
words_per_minute         : 200
theme                    : minimal-mistakes-jekyll
atom_feed:
  path                   : # blank (default) uses feed.xml

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

# Social Sharing
twitter:
  username               : &twitter "osuosc"
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : "/assets/osuosc/logo.png" # Open Graph/Twitter default site image
social:
  type                   : Organization # Person or Organization (defaults to Person)
  name                   : OSUOSC # If the user or organization name differs from the site's name
  links                  : ["https://riot.im/app/#/room/#osuosc:matrix.org", "https://www.osu.edu/map/building.php?building=026"]# An array of links to social media profiles

# Site Author
author:
  name             : *name
  avatar           : "/assets/osuosc/logo.png" # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  bio              : "Meetings every Thursday in Caldwell 120 during the Fall and Spring Semesters"
  location         :
  email            : "info@opensource.osu.edu"
  uri              :
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "osuosc"
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  linkedin         :
  pinterest        :
  soundcloud       :
  stackoverflow    : # "123456/username" (the last part of your profile url, e.g. http://stackoverflow.com/users/123456/username)
  steam            :
  tumblr           :
  twitter          : *twitter
  vine             :
  weibo            :
  xing             :
  youtube          : # "https://youtube.com/c/MichaelRoseDesign"


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  events:
    output: true
    permalink: /:collection/:path/
  tutorials:
    output: true
    permalink: /:collection/:path/
  info:
    output: true
    permalink: /:collection/:path/
  calendar:
    output: true
    permalink: /:collection/:path/
  news:
    output: true
    permalink: /:collection/:path/
  posts:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  # _events
  - scope:
      path: ""
      type: events
    values:
      layout: events
      author_profile: true
      share: true
  # _tutorials
  - scope:
      path: ""
      type: tutorials
    values:
      layout: single
      author_profile: false
      share: true
      sidebar:
        nav: "tutorials"
  # _info
  - scope:
      path: ""
      type: info
    values:
      layout: single
      author_profile: false
      share: true
      sidebar:
        nav: "info"
  # _calendar
  - scope:
      path: ""
      type: calendar
    values:
      layout: calendar
      author_profile: true
      comments: true
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: multipage
      author_profile: true
  # _news
  - scope:
      path: ""
      type: news
    values:
      layout: multipage
      author_profile: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
timezone: America/New_York # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
#paginate: 5 # amount of posts to show
#paginate_path: "/news/page:num/"
pagination:
    limit: false
    per_page: 10
    title_suffix: " (page :num)"
    reversed: true

multipage_page_title_expanded_format: ":post_title"
#multipage_collate_on_root_page: true
multipage_collation_enabled: false


# Plugins
gems:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - octopress-paginate
  - jekyll-redirect-from

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# https://github.com/jekyll/jekyll-archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
