---
layout: html/secondary/affiliations
title: Affiliations
---

a(href='http://cwdg.io')
  h4 The Collegiate Web Developers Group

a(href='http://electronicsosu.com/')
  h4 The Electronics Club
  
a(href='http://hackers.org.ohio-state.edu')  
  h4 Buckeye Hackers
  
a(href='http://buckeyelan.com')  
  h4 BuckeyeLAN
  
h4 Capture the Flag
