---
title: "Open Source Club"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/osuosc/banner.jpg
  caption: "When Stallman came to town"
excerpt: "The Open Source Club is on the forefront of technology and code, pushing the boundaries of tech that respect the users' individual freedoms"
intro:
  - image_path: "/assets/osuosc/logo.png"
    image_width: 45%
    title: "It's summer break! We'll be back to having weekly meetings at the beginning of the Fall 2017 semester"
info:
  - image_path: assets/osuosc/blue_servers.jpg
    alt: "This is not actually a picture of our servers. We wish they were this cool"
    title: "Systems"
    excerpt: "The Open Source Club maintains our own internal network providing storage, backup, and networking for club members."
  - image_path: /assets/osuosc/riot.svg
    image_width: 69%
    title: "Chat with us on Riot"
    url: /riot/
    btn_label: "Connect Here"
  - image_path: /assets/osuosc/mobo.jpg
    title: "Hardware"
    excerpt: "The Open Source Club has many types of hardware, from Bluetooth Recievers to Raspberry Pis for its members to borrow at will."
  - image_path: assets/osuosc/events.svg
    image_width: 69%
    title: "Take a look at our recent and upcoming events"
    url: /events/
    btn_label: "See All Events"
  - image_path: /assets/osuosc/python_code.jpg
    alt: "This is not actually code that any of us wrote."
    title: "Code"
    excerpt: "Whether you need some help understanding a function, or just someone to bounce ideas off of, there are no better people to talk to than those who are involved in the Open Source Club."
  - image_path: /assets/osuosc/mailing_list.svg
    image_width: 69%
    title: "Subscribe to our mailing list"
    url: /mailing-list/
    btn_label: "Sign Up Now"
---

{% include feature_row id="intro" type="left" %}

{% include feature_row id="info" %}
