---
title: "Open Source Club"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/osuosc/banner.jpg
  caption: "When Stallman came to town"
excerpt: "The Open Source Club is on the forefront of technology and code, pushing the boundaries of tech that respect the users' individual freedoms"
intro: 
  - image_path: "/assets/osuosc/logo.png" 
    excerpt: "<br />Join us every Thursday during the school year in Caldwell 120. Take a look at the [recent and upcoming events](/events)!"
    image_width: 45%
feature_row:
  - image_path: assets/osuosc/blue_servers.jpg
    alt: "This is not actually a picture of our servers. We wish they were this cool"
    title: "Systems"
    excerpt: "The Open Source Club maintains our own internal network providing storage, backup, and networking for club members."
  - image_path: /assets/osuosc/python_code.jpg
    alt: "This is not actually code that any of us wrote."
    title: "Code"
    excerpt: "Whether you need some help understanding a function, or just someone to bounce ideas off of, there are no better people to talk to than those who are involved in the Open Source Club."
  - image_path: /assets/osuosc/mobo.jpg
    title: "Hardware"
    excerpt: "The Open Source Club has many types of hardware, from Bluetooth Recievers to Raspberry Pis for its members to borrow at will."
officers:
  - image_path: /assets/osuosc/ted_l.jpg
    image_width: 55%
    alt: "Ted L"
    title: "President: Ted L."
    excerpt: 'This is our president'
  - image_path: /assets/osuosc/andrew_cz.jpg
    image_width: 55%
    alt: "AndrewCz"
    title: "Vice President: AndrewCz (smacz)"
    excerpt: 'This is our vice president'
  - image_path: /assets/osuosc/john_m.jpg
    image_width: 55%
    alt: "John M"
    title: "Our Systems Administrator: John M. (EDT)"
    excerpt: 'This is our systems administrator'
  - image_path: /assets/osuosc/jack_m.jpg
    image_width: 55%
    alt: "Jack M"
    title: "Our Treasurer: Jack M. (jmoore)"
    excerpt: 'This guy has the money, not any of us, just this guy.'
  - image_path: /assets/osuosc/tommy_d.jpg
    image_width: 55%
    alt: "Tommy D"
    title: "Our Public Relations Officer: Tommy D."
    excerpt: 'This is our PR Officer'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="officers" type="left" %}
