doctype html
| {% include html/core/head.html %}
| {% include html/core/sidebar.html %}
| {% include html/components/back_to_top.html %}
| {% if paginator.previous_page %}
// when NOT on the index page
#page-content-wrapper.index(style='width: 100%;')
  | {% include html/components/search.html %}
  | {% else %}
  // on the index page
  | {% if page.is_post %}
  // on {{ post.url }}
  #page-content-wrapper.single
    | {% include html/components/search.html %}
    | {% else %}
    // It is NOT a single post
    #page-content-wrapper.index.home
      | {% include html/components/search.html %}
      | {% include html/index/landing.html %}
      | {% include html/index/about.html %}
      | {% include html/index/mailchimp.html %}
      | {% include html/index/no_script.html %}
      | {% include html/index/contact.html %}
      | {% endif %}
      | {% endif %}
      | {% include html/posts.html %}
      | {% include html/core/footer.html %}
