<div class="section about">

    <div class="container">
      <div class="row">
        <div class="two-third column value">
<h5>
    The Open Source Club at the Ohio State University is a <a href="https://ohiounion.osu.edu/get_involved/student_organizations/directory?org_id=1042">registered student organization</a> composed of members from all around campus and out into the community who share a common enthusiasm for <a href="https://www.fsf.org/about/what-is-free-software">free, open source software</a>. Our focus is on building a strong community of open source users and developers in order to bring the benefits of open development, open standards, and free software to the university community.
</h5>
        </div>

      </div>
    </div>
  </div
