<div id="contact-wrapper">
  <div class="contact">

    <ul class="contact-info">

        <li>
          <div class="info-wrapper">
            <div class="contact-info-email flat-orange">
              <div class="contact-info-email-container">
              <h6>email</h6>
              <span>info@opensource.osu.edu</span>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="info-wrapper">
            <div class="contact-info-office flat-green">
              <div class="contact-info-office-container">
              <h6>office</h6>
                <span>Caldwell Labs, Rm 112F</span>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="info-wrapper">
            <div class="contact-info-meeting flat-blue">
              <div class="contact-info-meeting-container">
              <h6>next meeting</h6>
                <!-- TODO -->
                <!-- make into variable -->
                <span>October 8th 2015</span>
              </div>
            </div>
          </div>
        </li>

    </ul>

  </div>
</div>
