<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.url | absolute_url }}" rel="permalink">{{ post.type }}: {{ post.title }}</a>
    </h2>
    {% if post.speaker %}
    With: {{ post.speaker }}<br />
    {% endif %}
    {% if post.time %}
    On: {{ post.date | date_to_long_string }} @ {{ post.time }}<br />
    {% else %}
    On: {{ post.date | date_to_long_string }}<br />
    {% endif %}
    {% if post.location %}
    In: {{ post.location }}
    {% endif %}
  </article>
</div>
