<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Open Source Club</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/vendor/css/open-sans.css">
  <link rel="stylesheet" href="/vendor/css/raleway-fontface.css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% stylesheet custom %}
  <link rel="stylesheet" href="/vendor/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/css/animate.min.css">
  <link rel="stylesheet" href="/vendor/css/normalize.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/vendor/js/jquery.min.js"></script>
  {% javascript main %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% asset_path osc-logo.ico %}">

</head>
