{% javascript trianglify.min %}
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>

<div class="landing">
  <a id="button" class="button button-primary hidden" href="#">Join Our Mailing List</a>
  <script>
    var pattern = Trianglify({
      width: window.innerWidth,
      height: window.innerHeight,
      cell_size: 90,
      variance: ".9",
      seed: 'Greens'
      // seed: 'PuOr',
      // x_colors: 'random'
      // y_colors: 'match_x'
    });
    $( ".landing" ).append(pattern.canvas())
  </script>

  <span id="scroll-indicator" class="icon fa-angle-down fa-3x hidden"></span>


    <div class="container">

      <div class="row">

        <div class="twelve column">

            {% image osc-logo.svg id="brand" %}
            <div id="heading" class="heading-wrapper">
              <h4 class="landing-heading hidden">Open Source Club</h4>
              <h5 class="landing-heading hidden">at The Ohio State University</h5>
            </div>
            <!-- <a id="button" class="button button-primary hidden" href="#">Join Our Mailing List</a> -->

        </div>

      </div>

    </div>

</div>
