{% javascript trianglify.min %}
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>

<div class="landing">
  <div class="landing-depth-effect"></div>

  <a href="//github.com/OSUOSC/open-source-club-website">
  <div class="github-ribbon">Fork us on Github</div></a>

  <div id="heading-wrapper">
    <div id="heading" class="hidden">
      {% image osc-logo.svg id="brand" %}
      <h4 class="landing-heading">Open Source Club</h4>
      <h5 class="landing-heading">at The Ohio State University</h5>
      <a id="button" class="button button-primary hidden" target="_blank" href="//mailman.cse.ohio-state.edu/mailman/listinfo/opensource">Join Our Mailing List</a>
    </div>
  </div>

  <script>
    var pattern = Trianglify({
      width: window.innerWidth,
      height: window.innerHeight,
      cell_size: 90,
      variance: ".9",
      seed: 'Greens'
      // seed: 'PuOr',
      // x_colors: 'random'
      // y_colors: 'match_x'
    });
    $( ".landing" ).append(pattern.canvas())
  </script>

  <span id="scroll-indicator" class="icon fa-angle-down fa-3x hidden"></span>




</div>
