{% javascript trianglify.min %}

<div class="landing">
  <span id="scroll-indicator" class="icon fa-angle-down fa-3x hidden"></span>

  <script>
    var pattern = Trianglify({
      width: window.innerWidth,
      height: window.innerHeight,
      cell_size: 50,
      variance: ".85",
      seed: 'PuOr'
      // x_colors: 'random',
      // y_colors: 'match_x'
    });
    $( ".landing" ).append(pattern.canvas())
  </script>
    <div class="container">

      <div class="row">

        <div class="twelve column">

            {% image osc-logo.svg id="brand" %}
            <h4 id="heading" class="landing-heading hidden">Open Source Club</h4>
            <a id="button" class="button button-primary hidden" href="#">Join Our Mailing List</a>

        </div>

      </div>

    </div>
</div>
