{% assign title = post.date | date_to_long_string %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.date | date: "%A, %B %d, %Y" }}</a> <a href="{{ post.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | absolute_url }}" rel="permalink">{{ post.date | date: "%A, %B %d, %Y" }}</a>
      {% endif %}
    </h2>
    <p class="archive__item-excerpt" itemprop="description">
    <ul>
    {% for story in post.stories %}
    {% if story.link %}
    <li><a href="{{ story.link }}">{{ story.title}}</a></li>
    {% else %}
    <li>{{ story.title }}</li>
    {% endif %}
    {% endfor %}
    </ul>
    </p>
  </article>
</div>
