<div class="pagination-minimal">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination-text-minimal">previous</a>
  {% else %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination-text-minimal disabled">previous</a>
  {% endif %}


  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination-text-minimal">next</a>
  {% else %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination-text-minimal disabled">next</a>
  {% endif %}

</div>