<div class="section posts">
  <div class="container">
    {% if page.category %}
      <div class="category-title">
        {% if post.categories contains 'announcements' %}
          <h5>
            <a href="{{ site.baseurl }}/">{{ page.category }}</a>
          </h5>
        {% else %}
          <h5>
            <a href="{{ site.baseurl }}/{{ page.category }}">{{ page.category }}</a>
          </h5>
        {% endif %}

        <h5 class="clear-case before-of">Page 1 of </h5>

        {% capture total_pages %}
          {{ site.posts | size | divided_by: site.paginate | plus: 1 }}
        {% endcapture %}

        <h5 class="of">
          <a href="{{ site.baseurl }}/page{{ total_pages }}">{{ total_pages }}</a>
        </h5>

        </div>
      {% endif %}


      <div class="pagination-minimal">
        <a href="{{ site.baseurl }}/latest" class="pagination-text-minimal disabled">previous</a>
        <a href="{{ site.baseurl }}/page2" class="pagination-text-minimal">next</a>
      </div>

      {% for post in site.posts limit: site.paginate %}
      {% if post.categories contains 'volunteering' or post.categories contains 'events' %}
        <h2>
          <a href="{{ site.baseurl }}/{{ post.categories | first }}">{{ post.title }}</a>
        </h2>
      {% else %}
        <h2>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
      {% endif %}

      <span class="date">posted: {{ post.date | date: "%m-%d-%Y" }}</span>

      {% unless post.categories contains 'volunteering' or post.categories contains 'events' or post.categories contains 'schedules' or post.categories contains 'history' or post.categories contains 'tutorials' %}
        {{ post.content }}
      {% endunless %}

      <div class="tags">{{ post.tags | join: ' ' }}</div>
    {% endfor %}

    <div class="pagination">
      <a href="{{ site.baseurl }}/latest" class="pagination-text disabled">previous</a>
      <a class="previous">
        <i class="fa fa-caret-left disabled"></i>
      </a>

      <span class="page_number">1 of
        <a href="{{ site.baseurl }}/page{{ total_pages }}">{{ total_pages }}</a>
      </span>

      <a href="{{ site.baseurl }}/page2" class="next">
        <i class="fa fa-caret-right"></i>
      </a>

      <a href="{{ site.baseurl }}/page2" class="pagination-text">next</a>
    </div>

  </div>
</div>