<div class="section posts">
   <div class="container">

    {% if page.is_post %}
       <div class="category-title">
         <h5>{{ page.tags }}</h5>
         <h5>{{ page.title }}</h5>
       </div>
    {% endif %}


    <div class="category-title">
      <h1>{{ page.category }}</h1>
    </div>

    {% for post in paginator.posts %}


      <ul>
         <li>

           {% if post.categories contains 'volunteering' or post.categories contains 'events' %}
             <h2><a href="/{{ site.baseurl }}/{{ post.categories | first }}">{{ post.title }}</a></h2>
           {% else %}
             <h2><a href="/{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
           {% endif %}

           <span class="date">posted: {{ post.date | date: "%m-%d-%Y" }}</span>
           <div class="content">
             {{ post.content }}
           </div>
         </li>
      </ul>
    {% endfor %}


    {% if page.is_post %}
      <ul>
         <li>
           <h2>{{ page.title }}</h2>
           <span class="date">posted: {{ page.date | date: "%m-%d-%Y" }}</span>
           <div class="content">
             {{ page.content | markdownify }}
           </div>
         </li>
      </ul>
    {% endif %}

   </div>

  {% if page.is_post %}
    <!-- TODO -->
  {% else %}<!-- It is NOT a single post -->
    {% include pagination.html %}
  {% endif %}

</div>
