<ul class="sidebar">
  <div class="menu-toggle"></div>
  <div id="main-nav">
    <a href="/"><li>Home</li></a>
    <a href="/meetings"><li>Meetings</li></a>
    <a href="/tutorials"><li>Tutorials</li></a>
    <a href="/volunteering"><li>Volunteering</li></a>
    <a href="/events"><li>Events</li></a>
    <a href="/history"><li>History</li></a>
  </div>

  <div class="sidebar-secondary">
    <ul class="sidebar-info">
        <li>info@opensource.osu.edu</li>
        <li>Caldwell Labs, Rm 112</li>
    </ul>

    <ul class="sidebar-icons">
        <li class="flat-big flat-turq"> <a href="//twitter.com/osuosc" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li class="flat-big flat-pink"> <a href="//github.com/OSUOSC" target="_blank"><i class="fa fa-github"></i></a></li>
    <ul/>
  </div>

</ul>
