<ul class="sidebar">
    <div id="main-nav" class="hidden">
      <a href="/"><li>Home</li></a>
      <a href="/meetings"><li>Meetings</li></a>
	    <a href="/tutorials"><li>Tutorials</li></a>
	    <a href="/volunteering"><li>Volunteering</li></a>
	    <a href="/events"><li>Events</li></a>
      <a href="/history"><li>History</li></a>
    </div>
</ul>

<div id="social-media" class="hidden">
    <ul class="icon-circle icon-rotate list-unstyled list-inline">
        <li><a href="https://twitter.com/osuosc" target="_blank">Twitter: @osuosc</a></li>
        <li><a href="mailto:info@opensource.osu.edu" target="_blank">Email: info@opensource.osu.edu</a></li>
        <li><a href="https://github.com/OSUOSC" target="_blank">Github: @osuosc</a></li>
        <li><a href="https://www.osu.edu/map/building.php?building=026" target="_blank">Office: Caldwell Labs, Rm 112</a></li>
    </ul>
</div>
