<ul class="sidebar">
  <div class="menu-toggle"></div>
  <div id="main-nav">
    <a href="/"><li><span>Home</span></li></a>
    <a href="/meetings"><li><span>Meetings</span></li></a>
    <a href="/tutorials"><li><span>Tutorials</span></li></a>
    <a href="/volunteering"><li><span>Volunteering</span></li></a>
    <a href="/events"><li><span>Events</span></li></a>
    <a href="/history"><li><span>History</span></li></a>
  </div>

<div id="sidebar-secondary-wrapper">
  <div class="sidebar-secondary">
    <ul class="sidebar-icons">
        <li class="flat-turq"> <a href="//twitter.com/osuosc" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li class="flat-pink"> <a href="//github.com/OSUOSC" target="_blank"><i class="fa fa-github"></i></a></li>
        <li class="flat-orange"> <a href="/rss.xml" target="_blank"><i class="fa fa-rss"></i></a></li>
    </ul>
  </div>
</div>

</ul>
