@media (max-width: 550px)
  .landing
    height: 100%
    #heading-wrapper
      top: 50%
  #scroll-indicator
    bottom: 0%
    #brand
      margin-top: 0
    h4
      font-size: 2.5em
    h5
      font-size: 1.25em
    #button
      margin-top: 2em
  .contact-info > li .info-wrapper
    margin-left: 0.5em !important
    margin-right: 0.5em !important
  .section
    padding: 3rem 0 3rem
    &.about
      left: 0
      width: 100%
      z-index: 0
      &::before
        display: none

@media (min-width: 550px) and (max-width: 750px) and (orientation: landscape)
  .landing
    height: 100%
    #heading-wrapper
      top: 25%
  #scroll-indicator
    bottom: 0%

@media (min-width: 550px) and (max-width: 750px)
  #heading
    font-size: 135%
  .landing
    height: 75%
    text-align: center
    #heading-wrapper
      top: 50%
    .landing-heading
      // font-size: 2.4rem
      h4
        font-family: inherit
    img
      height: 18em
    h4
      font-size: 3.25em
    h5
      font-size: 1.5em
  #scroll-indicator
    bottom: 0%
  .sidebar
    left: 0
    &.active
      z-index: 9
  .menu-toggle
    left: 100%
  .section
    padding: 12rem 0 11rem
    .about
      left: 0
      width: 100%

@media (min-width: 750px)
  .landing-heading
    font-size: 2.6rem
  .section
    padding: 14rem 0 15rem
  .section-description
    margin-left: auto
    margin-right: auto
    max-width: 60%
  .categories
    padding: 15rem 0 8rem

@media (min-width: 1200px)
  .navbar
    width: inherit
  .contact-info-email-container, .contact-info-office-container, .contact-info-meeting-container
    font-size: 85%
  .layout-mobile
    display: none
  ul.contact-info
    display: table
    margin: 0 auto
    max-width: $maxContentWidth
  .landing
    padding: 0
    height: 50%
    #heading-wrapper
      top: 25%
    #scroll-indicator
      bottom: 50%
  #page-content-wrapper
    position: fixed
    left: $sidebarWidth

    overflow-x: hidden
    width: 100%
    height: 100%
    transition: all 0.5s linear
    z-index: 9
    &.index
      left: $sidebarWidth
    >*
      transition: 0s

  .layout-desktop
    display: inherit
  .section
    padding: 20rem 0 19rem
  .about
    h5
      font-size: 185%
  #social-media
    width: 15%
  .sidebar + #page-content-wrapper
    &:not(.index)
      width: 100%
      left: 35rem
    > .section.posts:only-child > .container
      width: 50%

// @media (max-width: 750px) and (orientation: portrait)
//   .landing
//     height: 80%
//     #heading-wrapper
//       top: 40%
//     #scroll-indicator
//       bottom: 20%
//
// @media (max-width: 1200px) and (orientation: portrait)
//   .landing
//     padding: 0
//     height: 66%
//     #scroll-indicator
//       bottom: 35%
//       transform: translateY(-50%)
//       -webkit-transform: translateY(-50%)
//       -moz-transform: translateY(-50%)
//     #heading-wrapper
//       top: 33%
//   #heading
//     font-size: 122%

@media (min-width: 550px) and (max-width: 750px) and (orientation: landscape)
  .landing
    height: 100%!important
    #scroll-indicator
      bottom: 1em
    #heading-wrapper
      top: 50%
      #heading
        font-size: 85%

@media (max-width: 750px) and (min-height: 500px)
  .landing
    height: 75%
    #heading-wrapper
      // top: 37.5%
  #scroll-indicator
    bottom: 25%

@media (max-width: 750px) and (min-height: 500px) and (orientation: portrait)
  .landing
    height: 75%
    #heading-wrapper
      top: 37.5%
  #scroll-indicator
    bottom: 25%

@media (min-width: 750px) and (max-width: 1200px) and (orientation: landscape)
  input#mce-EMAIL
    min-width: 10em
    ul li:not(:last-of-type)
      margin-right: 3em
  .landing
    height: 100%
    #heading-wrapper
      top: 50%
    #scroll-indicator
      bottom: 0

@media (min-width: 1200px) and (orientation: landscape)
  .landing
    height: 85%
    #heading-wrapper
      top: 42.5%
    #scroll-indicator
      bottom: 15%
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
    #heading
      font-size: 125%

@media (min-width: 1200px) and (orientation: landscape) and (max-height: 800px)
  .landing
    height: 100%
    #heading-wrapper
      top: 50%
    #scroll-indicator
      bottom: 0
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)

@media (max-width: 1200px) and (min-width: 550px)
  .landing
    img
      height: 15em
    h4
      font-size: 3.25em
    h5
      font-size: 1.5em

@media (max-width: 1200px)
  input#mce-EMAIL
    min-width: initial
  .category-title
    margin-bottom: 1em
  .section.posts > .container
    margin-top: 8rem
  .contact-info-email-container, .contact-info-office-container, .contact-info-meeting-container
    font-size: 85%
  .contact-info
    li
      width: 100%
    > li
      .info-wrapper
        margin: 0 1.5em 1.5em 1.5em
      &:first-of-type .info-wrapper
        margin-top: 1.5em
  #scroll-indicator
    display: none
  .layout-mobile
    display: block
  .layout-desktop
    display: none
  .menu-toggle
    position: fixed
    background: rgba(75, 75, 75, 0.35)
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
    cursor: pointer
    margin: 2rem 0 0 2rem
    line-height: 5em
    width: 5em
    height: 5em
    z-index: 9
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
    &::before
      content: '\f0c9'
      position: absolute
      top: 0
      left: 0
      font-family: 'FontAwesome'
      font-size: 2.5em
      color: $white
      line-height: inherit
      text-align: center
      width: inherit
      height: inherit
      vertical-align: middle
    &.active::before
      content: '\f00d'
      background: rgba(75,75,75,0.5)
    &:hover
      background: rgba(75,75,75,0.5)
      transition: all 1s ease

  .sidebar
    position: fixed
    top: 0
    bottom: 0
    left: 0
    margin: 0
    text-align: right
    width: $sidebarWidth
    height: 100%
    transform: translateX(-100%)
    transition: all 0.5s linear
    z-index: 9
    list-style: outside none none
    -webkit-transform: translateX(-100%)
    -moz-transform: translateX(-100%)
    &.active
      left: $sidebarWidth
      width: $sidebarWidth
      transition: all 0.5s linear
      z-index: 9

  .landing #heading a#button
    display: inline-block
    position: inherit
    margin-top: 3em
    z-index: 2
  #page-content-wrapper
    position: fixed
    left: 0
    right: 0
    overflow-x: hidden
    height: 100%
    transition: all 0.5s linear
    -webkit-overflow-scrolling: touch

    &.single
      left: 0
      transition: all 0.5s linear
    &.active
      position: fixed
      left: $sidebarWidth
      overflow-x: hidden
      overflow-y: scroll!important
      width: auto
      z-index: 8
      &.single
        left: 35rem
        transition: all 0.5s linear
  #main-nav
    padding-top: 2em

@media (max-width: 750px)
  .search
    position: absolute
    right: 0
    left: 0
    width: 80%
    margin: 0 auto
    .search-bar
      width: 100%
    #search-results
      right: 0

  .github-ribbon
    font-size: 1.25em
    line-height: 2.25em
    height: 2.25em
    transform: translate(50%, -50%) rotate(45deg) translateY(5em)
    -webkit-transform: translate(50%, -50%) rotate(45deg) translateY(5.5em)
    -moz-transform: translate(50%, -50%) rotate(45deg) translateY(5.5em)

@media (min-width: 750px) and (max-width: 1200px)
  .landing
    height: 50%
    #heading-wrapper
      top: 25%
  #scroll-indicator
    display: inline-block
    position: absolute
    right: 0%
    width: 100%
    bottom: 50%
  .mc-field-group
    &:not(:first-of-type)
      margin-right: 8em
    &:first-of-type
      margin-right: 0
      width: 100%
  .subscribe-wrapper
    padding-top: 6em
    height: 28em
  .sidebar
    left: 0
  #heading
    font-size: 135%
  .sidebar.active
    z-index: 9
  .menu-toggle
    left: 100%
  #page-content-wrapper
    left: 0
    right: 0
    transform: translateX(0%)
    -webkit-transform: translateX(0%)
    -moz-transform: translateX(0%)
  .section.about
    left: 0
    width: 100%

// @media (min-width: 750px) and (max-width: 1200px) and (max-height: 700px) and (orientation: portrait)
//   #scroll-indicator
//     bottom: 0

@media (min-width: 750px) and (max-width: 1200px) and (max-height: 1100px)
  .landing
    height: 75%
    #heading-wrapper
      top: 37.5%
  #scroll-indicator
    bottom: 0%

@media (min-width: 750px) and (max-width: 1200px) and (max-height: 700px)
  .landing
    height: 100%
    #heading-wrapper
      top: 50%
  #scroll-indicator
    bottom: 0

@media (min-width: 550px) and (max-width: 750px)
  .mc-field-group
    &:not(:first-of-type)
      margin-right: 8em
    &:first-of-type
      margin-right: 0
      width: 100%
  .subscribe-wrapper
    padding-top: 6em
    height: 28em

@media (min-width: 350px) and (max-width: 750px)
  .sidebar
    left: 0
  #heading
    font-size: 100%
  .sidebar.active
    z-index: 9
  .menu-toggle
    left: 100%
  #page-content-wrapper
    position: fixed
    left: 0
    right: initial
    width: 100%
    transform: translateX(0%)
    -webkit-transform: translateX(0%)
    -moz-transform: translateX(0%)
    &.active
      position: fixed
      width: 100%

@media (max-width: 350px)
  .landing
    height: 85%
    #heading-wrapper
      top: 42.5%
      #heading
        font-size: 65%
  #scroll-indicator
    bottom: 15%
  .contact-info-email-container, .contact-info-office-container, .contact-info-meeting-container
    font-size: 85%
  .menu-toggle
    &.active
      background: $oscRed
      box-shadow: inset 0 -.1em 0.2em 0 rgba(0,0,0,0.15)
      margin: 0
      width: 100%
      -webkit-box-shadow: inset 0 -.1em 0.2em 0 rgba(0,0,0,0.15)
      -moz-box-shadow: inset 0 -.1em 0.2em 0 rgba(0,0,0,0.15)
  #page-content-wrapper
    right: initial
    width: 100%
    &.active
      left: 100%
      width: 100%
      transition: all 0.5s linear
    transition: all 0.5s linear
  #heading
    font-size: 85%
  .section.about
    z-index: 0
    &::before
      display: none
  .sidebar
    position: fixed
    width: 100%
    transition: all 0.5s linear
    &.active
      left: 100%
      width: 100%
      transition: all 0.5s linear
      z-index: 9
    #main-nav
      padding-top: 6em
  .menu-toggle
    left: 100%
    transition: none !important
    &.active
      left: 0
      transition: all 0.5s linear
  input#mc-embedded-subscribe
    width: 100%

@media (max-width: 350px) and (max-height: 500px)
  .landing
    height: 100%
    #heading-wrapper
      top: 50%
  #scroll-indicator
    display: initial


@media (max-width: 550px)
  .mc-field-group
    margin-right: 0
    width: 100%
    ul
      display: table!important
  .subscribe-wrapper
    padding-top: 8em
    height: 40em
  input#mc-embedded-subscribe
    vertical-align: middle

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) and (max-width: 750px)
  .landing
    height: 100%
    #heading-wrapper
      top: 50%
    #heading
      font-size: 100%
  #scroll-indicator
    bottom: 0
    transform: translateX(0%)
    -webkit-transform: translateX(0%)
    -moz-transform: translateX(0%)

  .pagination
    font-size: 200%
  .cloud-1, .cloud-2, .cloud-3, .cloud-4
    transform: scale(0.5)
    -webkit-transform: scale(0.5)
    -moz-transform: scale(0.5)
  #page-content-wrapper
    -webkit-overflow-scrolling: touch

  *:not(#page-content-wrapper):not(.sidebar)
    animation: none !important
    transition-property: none !important
    -o-transition-property: none !important
    -moz-transition-property: none !important
    -ms-transition-property: none !important
    -webkit-transition-property: none !important
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important

#brand
  -webkit-animation-duration: 2s
  -o-animation-duration: 2s
  -moz-animation-duration: 2s
  -webkit-animation-delay: 0s
  -o-animation-delay: 0s
  -moz-animation-delay: 0s

#heading, #button
  -webkit-animation-duration: 1s
  -o-animation-duration: 1s
  -moz-animation-duration: 1s
  -webkit-animation-delay: 1s
  -o-animation-delay: 1s
  -moz-animation-delay: 1s

#main-nav
  -webkit-animation-duration: 2s
  -o-animation-duration: 2s
  -moz-animation-duration: 2s
  -webkit-animation-delay: 0s
  -o-animation-delay: 0s
  -moz-animation-delay: 0s

.sidebar-icons
  -webkit-animation-duration: 1s
  -o-animation-duration: 1s
  -moz-animation-duration: 1s
  -webkit-animation-delay: 0s
  -o-animation-delay: 0s
  -moz-animation-delay: 0s

#scroll-indicator
  animation-iteration-count: infinite
  -webkit-animation-duration: 3s
  -o-animation-duration: 3s
  -moz-animation-duration: 3s
  -webkit-animation-delay: 3s
  -o-animation-delay: 3s
  -moz-animation-delay: 3s
  -moz-animation-iteration-count: infinite
  -webkit-animation-iteration-count: infinite
  -o-animation-iteration-count: infinite

@media (min-width: 2000px) and (orientation: landscape)
  .landing
    height: 100%
    #heading-wrapper
      top: 50%
    #scroll-indicator
      bottom: 0
    #heading
      font-size: 150%!important

#sidebar-secondary-wrapper
  top: 0
  width: 100%
  height: 100%
  z-index: -1
  .sidebar-secondary
    position: absolute
    bottom: 1em
    text-align: center
    width: 100%
    z-index: 8
    .sidebar-icons
      display: block
      position: relative
      margin: 0  0 3em 0
      transition: none
      z-index: 7
      i::before
        display: inherit
        text-align: center
      li
        display: inline-block
        font-size: 4.5em
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
        cursor: pointer
        padding: 0
        margin: 0
        overflow: hidden
        width: 1.25em
        height: 1.25em
        max-width: 1.25em
        transition: all 0.5s ease
        transition: all 0s
        z-index: 7
        z-index: 17
        -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
        -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
        list-style: none
        &:not(:last-of-type)
          margin: 0 0.4em 0 0
        &:hover
          transform: scale(1.1)
          -webkit-transform: scale(1.1)
          -moz-transform: scale(1.1)
        &.flat-turq
          background: rgb(52, 152, 219)
        &.flat-orange
          background: rgb(230,126,34)
        &.flat-pink
          background: rgb(142, 68, 173)
        a
          text-decoration: none
