.search
  position: relative
  float: right
  margin-right: 2em
  padding: 0 0 0 2em
  float: right
  display: block
  top: 25%
  width: 100%

.search-bar
  right: 1em
  position: inherit
  top: 50%
  height: 2em
  right: 0
  display: block
  overflow-y: hidden

#search-posts, .search-submit
  box-sizing: border-box
  border: none
  border-radius: 0
  color: #2c3e50
  height: 2em
  line-height: 2em
  padding: 0

#search-posts
  display: table-caption
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  border: 1px solid #D5D5D5
  padding: 0 0.5em+2em 0 0.5em
  width: 30em
  position: absolute
  right: 0

.search-submit
  cursor: pointer
  position: absolute
  top: 0
  width: 2em
  background: #3498DB
  right: 0
  &:hover
    background: #236998
  &::before
    position: absolute
    top: 0
    width: 2em
    right: 0
    color: #fff
    font-family: 'FontAwesome'
    content: '\f002'

#search-results
  right: 2em
  position: relative
  background: $white
  display: list-item
  // FIXME
  // I shouldn't use important
  margin-bottom: 0!important
  -moz-box-shadow: 0 1px 5px 1px rgba(0,0,0,0.15)
  -webkit-box-shadow: 0 1px 5px 1px rgba(0,0,0,0.15)
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.15)
  min-width: 30em
  list-style: none
  text-align: center
  float: right
  max-width: 45em
  min-width: 30em
  &:empty
    display: none

  a
    display: list-item
    padding: 0.5em 0.75em
    li
      line-height: 2.25em
      text-align: left
      list-style: none
      width: 100%
      margin: 0
      display: inline-block
      vertical-align: middle
      .primary
        float: left
        max-width: 75%
      .secondary
        color: lighten(rgb(93,93,93), 25%)
        max-width: 20%
        display: initial
        float: right

    &.selected
      background: #B1B1B1!important
      -moz-box-shadow: 0 1px 3px -1px rgba(0,0,0,0.15)
      -webkit-box-shadow: 0 1px 3px -1px rgba(0,0,0,0.15)
      box-shadow: 0 1px 3px -1px rgba(0,0,0,0.15)
      li
        color: #FFF
        .secondary
          color: #FFF
    &:nth-of-type(even)
      background: #F3F3F3
    font-weight: 400
    text-decoration: none
