<!DOCTYPE html>

{% include core/head.html %}
{% include core/sidebar.html %}
{% include components/search.html %}
{% include components/back_to_top.html %}

<div id="page-content-wrapper" class="home">
  <div class="section posts">
    <div class="container">

      <div class="category-title">
        <a href="{{ site.baseurl }}/{{ page.category | downcase }}">
          <h5>{{ page.category }}</h5>
        </a>
      </div>

      {% for post in site.categories.[page.category] %}
        <h2>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>

        <span class="date">updated: {{ post.last_modified_at | date: '%m-%d-%Y' }}</span>
      {% endfor %}

      {% include core/scripts.html %}
    </div>
  </div>

  {% include core/footer.html %}

</div>
