<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include sidebar.html %}
{% include components/back_to_top.html %}

<div id="page-content-wrapper" class="home">
  {% include search.html %}
  <div class="section posts">
    <div class="container">
      <div class="category-title">
        <h5>{{ page.category }}</h5>
      </div>
      {% if site.categories.[page.category] == null %}
        <span>There are currently no tutorials</span>
      {% else %}
        {% for post in site.categories.[page.category] %}
          <ul>
            <li>
              <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
              <span class="date">posted: {{ post.date | date: "%m-%d-%Y" }}</span>
            </li>
          </ul>
        {% endfor %}
      {% endif %}

    </div>
  </div>

</div>
<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
