.pagination
  
  {% if paginator.previous_page %}
  a.pagination-text(href='{{ site.baseurl }}{{ paginator.previous_page_path }}') previous
  a.previous(href='{{ site.baseurl }}{{ paginator.previous_page_path }}')
    i.fa.fa-caret-left
  
  {% else %}
  span.previous
    i.fa.fa-caret-left.disabled
  {% endif %}
  
  span.page_number  {{ paginator.page }} of {{ paginator.total_pages }}

  {% if paginator.next_page %}
  a.next(href='{{ site.baseurl }}{{ paginator.next_page_path }}')
    i.fa.fa-caret-right
  
  a.pagination-text(href='{{ site.baseurl }}{{ paginator.next_page_path }}') next
    
  
  {% else %}
  span.next
    i.fa.fa-caret-right.disabled
  {% endif %}
