.section.posts
  .container

    {% if page.is_post %}
    .category-title

      {% if post.categories contains 'announcements' %}
      h5
        a(href='{{ site.baseurl }}/') {{ page.tags }}
      {% else %}
      h5
        a(href="{{ site.baseurl }}/{{ page.tags | first | remove: ',' }}") {{ page.tags | first | remove: ',' }}
      {% endif %}

      h5
        a(href='{{ site.baseurl }}{{ post.url }}') {{ page.title }}
    {% endif %}


    {% if page.category %}
    .category-title

      {% if post.categories contains 'announcements' %}
      h5
        a(href='{{ site.baseurl }}/') {{ page.category }}
      {% else %}
      h5
        a(href='{{ site.baseurl }}/{{ page.category }}') {{ page.category }}
      {% endif %}
      h5.clear-case.before-of Page {{ paginator.page }} of 

      h5.of
        a(href='{{ site.baseurl }}/page{{ paginator.total_pages }}') {{ paginator.total_pages }}
    {% endif %}

    {% unless page.is_post or paginator.page == 1 %}
    | {% include html/pagination-minimal.html %}
    {% endunless %}
    
    {% for post in paginator.posts %}
    {% if post.categories contains 'volunteering' or post.categories contains 'events' %}
    h2
      a(href='{{ site.baseurl }}/{{ post.categories | first }}') {{ post.title }}
    {% else %}
    h2
      a(href='{{ site.baseurl }}{{ post.url }}') {{ post.title }}
    {% endif %}

    span.date posted: {{ post.date | date: "%m-%d-%Y" }}

    {% unless post.categories contains 'volunteering' or post.categories contains 'events' or post.categories contains 'schedules' or post.categories contains 'history' or post.categories contains 'tutorials' %}

    | {{ post.content }}

    {% endunless %}

    .tags {{ post.tags | join: ' ' }}

    {% endfor %}



    {% if page.is_post %}

    .column-wrap
      h2.bold {{ page.title }}
      span.date posted: {{ page.date | date: "%m-%d-%Y" }}
      .content {{ page.content | markdownify }}
      .tags {{ page.tags | join: ' ' }}

    .column-wrap
      .related
        h4.related-title Related Posts

        {% assign relatedPosts = false %}
        {% assign relatedPostCount = 0 %}

        {% for post in site.posts %}

        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}


        {% for tag in post.tags %}
        //- {% if page.tags contains tag and post.categories == page.categories %}
        {% if page.tags contains tag %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}

        {% endif %}
        {% endfor %}

        {% if sameTagCount >= 2 and post.url != page.url %}
        {% assign relatedPosts = true %}
        {% assign relatedPostCount = relatedPostCount | plus: 1 %}

        {% if relatedPostCount > 6 %}
        | {% break %}
        {% endif %}

        .related-post
          a(href='{{ site.baseurl }}{{ post.url }}')
            h4 {{ post.title }}
          span.date posted: {{ post.date | date: "%m-%d-%Y" }}
        {% endif %}

        {% endfor %}

        {% if relatedPosts == false %}
        .related-post
          h4 No related posts found
        {% endif %}

    {% endif %}

    {% unless page.is_post %}
    | {% include html/pagination.html %}
    {% endunless %}