<div class="section attention">

    <div class="container">
      <div class="row">
        <div class="two-third column value">

          <h5>
            Your browser appears to have Javascript disabled.
          </h5>

          <h5>
            This site uses Javascript for both presentational
            and traffic analysis purposes. It does not however
            link to any external scripts nor does it make any
            background cross-site requests.
          </h5>

        </div>
      </div>
    </div>
  </div>
