{% for post in site.posts %}
  {% if post.meeting_date and post.meeting_location %}
    {% capture meeting_location %}
      {{ post.meeting_location }}
    {% endcapture %}

    {% capture meeting_date %}
      {{ post.meeting_date | date: "%B %e, %Y" }}
    {% endcapture %}

    {% break %}
  {% endif %}
{% endfor %}

<div id="contact-wrapper">

  <div class="contact">
    <ul class="contact-info">

      <li>
        <div class="info-wrapper">
          <div class="contact-info-email">
            <div class="contact-info-email-container">
              <h6>email</h6><span>info@opensource.osu.edu</span></div>
          </div>
        </div>
      </li>

      <li>
        <div class="info-wrapper">
          <div class="contact-info-office">
            <div class="contact-info-office-container">
              <h6>office</h6><span>Caldwell Labs, Rm 112F</span></div>
          </div>
        </div>
      </li>

      <li>
        <div class="info-wrapper">
          <div class="contact-info-meeting">
            <div class="contact-info-meeting-container">
              <h6>next meeting</h6>
              <span>{{ meeting_date }}</span>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="info-wrapper">
          <div class="contact-info-location">
            <div class="contact-info-location-container">
              <h6>meeting location</h6>
              <span>{{ meeting_location }}</span>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>

</div>