link(rel='stylesheet', href='{{ site.baseurl }}/vendor/css/ubuntu.min.css')
.landing
  a(href='//github.com/OSUOSC/open-source-club-website')
    .github-ribbon Fork us on Github
  .clouds
    .cloud-1(data-speed='35000')
    .cloud-2(data-speed='45000', data-delay='15000')
    .cloud-3(data-speed='40000')
    .cloud-4(data-speed='38000', data-delay='20000')
  #heading-wrapper
    #heading
      img#brand(src='{{ site.baseurl }}/dist/img/osc-logo.svg')
      h4.landing-heading Open Source Club
      h5.landing-heading at The Ohio State University
  span#scroll-indicator.hidden
