<div class="landing">

  <div class="spork">
    <a href="//github.com/OSUOSC/open-source-club-website"></a>
  </div>


  <div class="clouds">
    <div data-speed="35000" class="cloud-1"></div>
    <div data-speed="45000" data-delay="15000" class="cloud-2"></div>
    <div data-speed="40000" class="cloud-3"></div>
    <div data-speed="38000" data-delay="20000" class="cloud-4"></div>
  </div>


  <div id="heading-wrapper">
    <div id="heading"><img id="brand" src="{{ site.baseurl }}/dist/img/osc-logo.svg" />
      <h4 class="landing-heading">Open Source Club</h4>
      <h5 class="landing-heading">at The Ohio State University</h5></div>
  </div>

</div>