<div class="pagination">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination-text">previous</a>
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">
      <i class="fa fa-caret-left"></i>
    </a>
  {% else %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination-text disabled">previous</a>
    <a class="previous">
      <i class="fa fa-caret-left disabled"></i>
    </a>
  {% endif %}

  <span class="page_number"> {{ paginator.page }} of
    <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}">{{ paginator.total_pages }}</a>
  </span>


  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">
      <i class="fa fa-caret-right"></i>
    </a>

    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination-text">next</a>
  {% else %}
    <span class="next">
      <i class="fa fa-caret-right disabled"></i>
    </span>

    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination-text disabled">next</a>
  {% endif %}

</div>