<div class="section posts"><div class="container">

  {% if page.is_post %}
    <div class="category-title">

      {% if post.categories contains 'announcements' %}
        <h5>
          <a href="{{ site.baseurl }}/">{{ page.tags }}</a>
        </h5>
      {% else %}
        <h5>
          <a href="{{ site.baseurl }}/{{ page.tags | first | remove: ',' }}">{{ page.tags | first | remove: ',' }}</a>
        </h5>
      {% endif %}

      <h5>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a>
      </h5>

    </div>
  {% endif %}


  {% if page.category %}
    <div class="category-title">
      {% if post.categories contains 'announcements' %}
        <h5>
          <a href="{{ site.baseurl }}/">{{ page.category }}</a>
        </h5>
      {% else %}
        <h5>
          <a href="{{ site.baseurl }}/{{ page.category }}">{{ page.category }}</a>
        </h5>
      {% endif %}

      <h5 class="clear-case before-of">Page {{ paginator.page }} of</h5>

      <h5 class="of">
        <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}">{{ paginator.total_pages }}</a>
      </h5>
    </div>
  {% endif %}


  {% unless page.is_post or paginator.page == 1 %}
    {% include pagination-minimal.html %}
  {% endunless %}


  {% for post in paginator.posts %}
    {% if post.categories contains 'volunteering' or post.categories contains 'events' %}
      <h2>
        <a href="{{ site.baseurl }}/{{ post.categories | first }}">{{ post.title }}</a>
      </h2>
    {% else %}
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
    {% endif %}

    <span class="date">posted: {{ post.date | date: "%m-%d-%Y" }}</span>

    {% unless post.categories contains 'volunteering' or post.categories contains 'events' or post.categories contains 'schedules' or post.categories contains 'history' or post.categories contains 'tutorials' %}
      {{ post.content }}
    {% endunless %}

    <div class="tags">{{ post.tags | join: ' ' }}</div>
  {% endfor %}



  {% if page.is_post %}
    <div class="column-wrap">
      <h2 class="bold">{{ page.title }}</h2>
      <span class="date">posted: {{ page.date | date: "%m-%d-%Y" }}</span>
      <div class="content">{{ page.content | markdownify }}</div>
      <div class="tags">{{ page.tags | join: ' ' }}</div>
    </div>

    <div class="column-wrap">
      <div class="related">
        {% assign relatedPosts = false %}
        {% assign relatedPostCount = 0 %}
        {% assign recentPostCount = 0 %}

        {% for post in site.posts %}
          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}

          {% for tag in post.tags %}
            {% if page.tags contains tag %}
              {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% endif %}
          {% endfor %}

          {% if sameTagCount >= 2 and post.url != page.url %}
            {% assign relatedPosts = true %}
            {% assign relatedPostCount = relatedPostCount | plus: 1 %}

            {% if relatedPostCount == 1 %}
              <h4 class="related-title">Related Posts</h4>
            {% endif %}

            {% if relatedPostCount > 6 %}
              {% break %}
            {% endif %}

            <div class="related-post">
              <a href="{{ site.baseurl }}{{ post.url }}">
                <h4>{{ post.title }}</h4>
              </a>
              <span class="date">posted: {{ post.date | date: "%m-%d-%Y" }}</span>
            </div>
          {% endif %}
        {% endfor %}


        {% if relatedPosts == false %}
          {% for post in site.posts %}
            {% if post.url != page.url %}
              {% assign recentPostCount = recentPostCount | plus: 1 %}

              {% if recentPostCount == 1 %}
                <h4 class="related-title">Recent Posts</h4>
              {% endif %}

              {% if recentPostCount > 6 %}
                {% break %}
              {% endif %}

              <div class="related-post">
                <a href="{{ site.baseurl }}{{ post.url }}">
                  <h4>{{ post.title }}</h4>
                </a>

                <span class="date">posted: {{ post.date | date: "%m-%d-%Y" }}</span>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

      </div>
    </div>
  {% endif %}

  {% unless page.is_post %}
    {% include pagination.html %}
  {% endunless %}</div></div>