body {
  overflow-x: hidden;
}

canvas {
  position: relative;
  width: 100%;
  height: 100%;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  z-index: 1;
}

a:not(.sidebar) {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: inherit;
}

p,ul,li,h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  visibility: hidden;
}

hr {
  width: 60%;
  text-align: center;
  border-bottom: 1px solid #CDCDCD;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 4px;
}

/* Side Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sidebar {
  background-color: #333;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-align: right;
  position: fixed;
  margin: 0px;
  list-style: outside none none;
  transition: all 0.5s linear;
  height: 100%;
  z-index: 7;
  width: 15%;
}

.sidebar a {
  text-decoration:none;
  color:white;
  transition: all 0.5s linear;
}

.sidebar li>a {
  font-weight: 400;
}

.sidebar li {
  text-indent: 20px;
  transition:0.5s ease;
  padding-right: 2em;
  font-weight: 300;
  font-size: 1.75em;
  line-height: inherit;
}

.sidebar li:hover {
  background-color:#4B4B4B;
  cursor:pointer;
  text-indent: 30px;
  padding-right: 1em;
  line-height: inherit;
}

/* offset content for sidebar */
#page-content-wrapper {
  float: left;
  z-index: 7;
  position: absolute;
  left: 15%;
  width: 85%;
  background: #fff;
  height: 100%;

  -webkit-box-shadow: -10px 0 20px 0 rgba(0,0,0,0.20);
  -moz-box-shadow: -10px 0 20px 0 rgba(0,0,0,0.20);
  box-shadow: -10px 0 20px 0 rgba(0,0,0,0.20);
}

#main-nav {
  padding-top: 6em;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.landing {
  text-align: center;
  background: #fafafa;
}

.menu-toggle+.posts {
  padding: 8em 0 0 0!important;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

span:only-child {
    text-align: center;
    display: block;
}
/* landing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* landing fills entire viewport */
.landing {
  height: 100vh !important;
  min-height: 500px;
}

/* osc logo */
.landing img {
  height: 20em;
}

.landing h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 4em;
  display: inline;
  color: rgb(41,41,41);
}

.landing h5 {
  margin-top: 0;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  text-align: right;
  color: rgb(41,41,41);
  display: block;
}

.heading-wrapper {
  display: table;
  margin: 2em auto 0 auto;
}

.twelve.column {
    z-index: 1;
}

.landing a#button {
  margin-top: 2rem;
  position: fixed;
  z-index: 2;
  right: 0;
}

.landing .button-primary {
  background: rgba(75,75,75,0.5);
  border: 0;
  border-radius: 0!important;
  transition: 0.3s ease;
}

.landing .button-primary:hover {
  background: rgb(75,75,75);
  border: 0;
  border-radius: 0!important;
  transition: 0.3s ease;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background: rgb(75,75,75);
  border-color: rgb(75,75,75);
  color: #fff;
}

/* scroll down indicator */
span.fa-angle-down {
    position: relative;
    bottom: 2em;
    color: rgba(50, 50, 50, 0.5);
    z-index: 1;
}


/* vertically centers landing elements */
.landing > .container > .row {
  height: 100%;
  position: relative;
}

.landing > .container > .row > .column {
  position: fixed;
  left: 15%;
  width: 85%;
  top: 0;
  margin-top: 30vh;
}

/* about
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 0!important;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
  border-top: 25px solid #777777;
  -webkit-box-shadow: 0 15px 50px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 15px 50px -10px rgba(0,0,0,0.5);
  box-shadow: 0 15px 50px -10px rgba(0,0,0,0.5);
}

.about h5 {
  margin: 2em 0;
}

.about:before {
  content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(102, 102, 102, .8);
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}


.about-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.about-heading {
  margin-bottom: .3rem;
}
.about-description {
  opacity: .8;
  font-weight: 300;
}

/* Posts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.posts {
    background-color: #fff;
    position: relative;
}

.posts ul{
  list-style: none;
  text-align: left;
}

.posts p{
  text-align: justify;

}

.posts>.container>ul>li {
  padding-bottom: 2em;
  padding-top: 2em;
}

.posts>.container>ul>li:not(:last-of-type), .section.posts>.container>ul:not(:last-of-type) {
  border-bottom: 1px solid #CDCDCD;
}

.posts li>h3+table {
    margin: 0 auto;
    width: 100%;
}

.posts h6+ul:not(:last-of-type) {
    margin-bottom: 3em;
}



/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/about-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

@media (max-width: 550px) {

  .landing img {
    height: 16em;
  }

  .landing h4 {
    font-size: 2.5em;
  }

  .landing h5 {
    font-size: 1.25em;
  }

}



/* Bigger than 550 */
@media (min-width: 550px) and (max-width: 750px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .landing {
    text-align: center;
    height: 165px;
  }

  .landing-heading {
    font-size: 2.4rem;
  }

  .landing-heading > h4 {
    font-family: inherit;
  }

  .landing img {
    height: 18em;
  }

  .landing h4 {
    font-size: 3.25em;
  }

  .landing h5 {
    font-size: 1.5em;
  }

}

/* Bigger than 750 */
@media (min-width: 750px) {
  .landing {
    height: 190px;
  }

  .landing-heading {
    font-size: 2.6rem;
  }

  .section {
    padding: 14rem 0 15rem;
  }

  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1200 */
@media (min-width: 1200px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .landing {
    padding: 0;
    height: 100vh !important;
  }
  .landing-heading {
    font-size: 3.0rem;
  }

  #social-media {
    width: 15%;
  }

}

@media (min-width: 1200px) and (orientation: portrait) {

  .landing {
    padding: 0;
    height: 60vh !important;
  }

  .landing>.container>.row>.column {
    margin-top: 15vh;
  }

  #scroll-indicator {
    display: none!important;
  }

}

@media (max-height: 1350px) and (max-width: 1200px) and (min-width: 550px) {

  .landing > .container > .row > .column {
    margin-top: 7em!important;
  }

  .landing img {
    height: 18em;
  }

  .landing h4 {
    font-size: 3.25em;
  }

  .landing h5 {
    font-size: 1.5em;
  }

}


@media (max-width: 1200px) {

  /* Menu Icon
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .menu-toggle {
    position: fixed;
    top: 2rem;
    left: 2rem;
    background: #b00;
    width: 5em;
    height: 5em;
    z-index: 2;
    background: rgba(75,75,75,0.5);
    line-height: 5em;
  }

  .menu-toggle:before {
    position: absolute;
    top: 0;
    font-size: 2.5em;
    height: inherit;
    width: inherit;
    left: 0;
    vertical-align: middle;
    line-height: inherit;
    color: #fff;
    font-family: 'FontAwesome';
    content: '\f039';
    text-align: center;
  }

  .menu-toggle:hover {
    transition: 1s ease;
    background: rgb(75,75,75);
  }


  .sidebar {
    background-color: #333;
    top: 0px;
    bottom: 0px;
    left: 0px;
    text-align: right;
    position: fixed;
    margin: 0px;
    list-style: outside none none;
    transition: all 0.5s linear;
    height: 100%;
    z-index: 8;
    width: 40%;
    transform: translateX(-100%);
  }

  .sidebar.active {
    /*background-color: #;*/
    transition: all 0.5s linear;
    width: 40%;
    transform: translateX(0%);
  }

  .landing {
    height: 60vh !important;
  }

  .landing>.container>.row>.column {
    margin-top: 9em;
  }


  #social-media {
    width: 40%;
    z-index: 8;
    transform: translateX(-100%);
    transition: all 0.5s linear;
    position: absolute;
    padding-bottom: 1em!important;
  }

  #social-media.active {
    transition: all 0.5s linear;
    transform: translateX(0%);
  }

  .landing > .container > .row > .column {
    left: 0;
    width: 100%;
  }

  #page-content-wrapper {
    transform: translateX(-15%);
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    position: absolute;
  }

  #page-content-wrapper.active {
    transform: translateX(25%);
    position: fixed;
  }

  #main-nav {
    padding-top: 2em;
  }

}

@media (max-width: 550px)  {

  #page-content-wrapper.active {
    transition: all 0.5s linear;
    transform: translateX(50%);
  }

  #page-content-wrapper {
    transition: all 0.5s linear;
    transform: translateX(-15%);
  }

  .sidebar.active {
    width: 65%;
    transition: all 0.5s linear;
  }

  .sidebar {
    width: 65%;
  }

  .sidebar {
    position: absolute;
    transition: all 0.5s linear;
  }

  #social-media {
    transition: all 0.5s linear;
    width: 65%;
    position: absolute;
  }

}


@media (min-width: 1200px) and (max-width: 1500px)  {

  #page-content-wrapper {
    float: left;
    z-index: 7;
    position: absolute;
    left: 20%;
    width: 80%;
    background: #fff;
  }

  .sidebar {
    width: 20%;
  }

  #social-media {
    width: 20%;
  }

  .landing>.container>.row>.column {
    left: 20%;
    width: 80%;
}

  /*.sidebar li {
    font-size: 1.5vw!important;
    transition: 0;
  }*/

}


@media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5){
    html {
      font-size: 50%;
    }
}


/* Animate.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#brand {
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
  -moz-animation-duration: 2s;

  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#heading {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;

  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

#button {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;

  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

#main-nav, #social-media {
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
  -moz-animation-duration: 2s;

  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}


#scroll-indicator {
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;
  -moz-animation-duration: 3s;

  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
  -moz-animation-delay: 3s;

  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}



/* Social Media Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#social-media {
  text-align: center;
  position: fixed;
  bottom: 0px;
  padding-bottom: 4em;
  z-index: 8;
}

#social-media .column {
  margin-left: 0;
}

#social-media li {
  list-style: none;
}

#social-media ul {
position: relative;
}





.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}



.social-icons .fa-flickr{background-color:#FF0084;}


.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;}


.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;}

.social-icons .fa-envelope, .fa-envelope-square, .fa-envelope-o {background-color:#E54D26;}

.social-icons .fa-building-o, .fa-building {background-color:#C52F30;}





.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.social-icons.icon-circle .fa{
	border-radius: 50%;
}



.social-icons {
	font-size: 2em;
}


.list-inline li {
	display: inline-block;
	padding-right: .5em;
	padding-left: .5em;
  padding-top: .5em;
	margin-bottom: 10px;
}

/* SimpTip
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.simptip-position-top[data-tooltip]::before {
  border-top-color: rgb(75,75,75);
}
.simptip-position-top[data-tooltip]::after {

  background-color: rgb(75,75,75);
  color: #fff;
  border-radius: 0;
}
