body
  overflow-x: hidden
  color: #424242

html
  font-size: 40%!important

canvas
  position: relative
  width: 100%
  height: 100%
  z-index: -3
  opacity: 0

a
  &:not(.sidebar)
    color: inherit
    text-decoration: none
    font-weight: 600
  &:hover:not(.about)
    color: #848484!important
td
  padding: 1em 5% 0 0!important
  text-align: left
  vertical-align: middle

p, ul, li, h1, h2, h3, h4, h5, h6
  font-family: 'Open Sans', sans-serif

.hidden
  visibility: hidden

hr
  width: 25%
  text-align: center
  border-top: 1px solid #333
  margin: 0 auto

.clouds
  position: relative
  height: 100%
  overflow: hidden

[class^="cloud-"]
  position: absolute
  right: 120%
  width: 200px
  height: 60px
  background: #fff
  -webkit-border-radius: 200px
  border-radius: 200px
  &:before
    content: ''
    position: absolute
    top: -15px
    left: 10px
    width: 100px
    height: 80px
    background: #fff
    -webkit-border-radius: 100px
    border-radius: 100px
    -webkit-transform: rotate(30deg)
    -moz-transform: rotate(30deg)
    transform: rotate(30deg)
  &:after
    content: ''
    position: absolute
    top: -15px
    left: 10px
    width: 100px
    height: 80px
    background: #fff
    -webkit-border-radius: 100px
    border-radius: 100px
    -webkit-transform: rotate(30deg)
    -moz-transform: rotate(30deg)
    transform: rotate(30deg)
    top: -55px
    left: auto
    right: 15px
    width: 120px
    height: 120px

.cloud-1
  top: 85%
  -webkit-animation: moveclouds 30s linear infinite
  -moz-animation: moveclouds 30s linear infinite
  -o-animation: moveclouds 30s linear infinite
  animation: moveclouds 30s linear infinite

.cloud-2
  top: 10%
  opacity: 0.8
  -webkit-transform: scale(0.8)
  -moz-transform: scale(0.8)
  transform: scale(0.8)
  -webkit-animation: moveclouds 45s linear infinite
  -moz-animation: moveclouds 45s linear infinite
  -o-animation: moveclouds 45s linear infinite
  animation: moveclouds 45s linear infinite
  -webkit-animation-delay: 5s
  -moz-animation-delay: 5s
  animation-delay: 5s

.cloud-3
  top: 65%
  opacity: 0.6
  -webkit-transform: scale(0.6)
  -moz-transform: scale(0.6)
  transform: scale(0.6)
  -webkit-animation: moveclouds 40s linear infinite
  -moz-animation: moveclouds 40s linear infinite
  -o-animation: moveclouds 40s linear infinite
  animation: moveclouds 40s linear infinite

.cloud-4
  top: 40%
  opacity: 0.75
  -webkit-transform: scale(0.75)
  -moz-transform: scale(0.75)
  transform: scale(0.75)
  -webkit-animation: moveclouds 26s linear infinite
  -moz-animation: moveclouds 26s linear infinite
  -o-animation: moveclouds 26s linear infinite
  animation: moveclouds 26s linear infinite
  -webkit-animation-delay: 8s
  -moz-animation-delay: 8s
  animation-delay: 8s

@-webkit-keyframes moveclouds
  0%
    right: -20%

  100%
    right: 120%


@-moz-keyframes moveclouds
  0%
    right: -20%

  100%
    right: 120%


@-o-keyframes moveclouds
  0%
    right: -20%

  100%
    right: 120%



.sidebar
  background: #fff
  left: 0px
  text-align: right
  position: fixed
  margin: 0px
  list-style: outside none none
  transition: all 0.5s linear
  height: 100%
  z-index: 10
  width: 35rem
  perspective: 100em
  border-right: 1px solid #D5D5D5

.github-ribbon
  font-size: 1.5em
  background: #990101
  height: 2.5em
  width: 20em
  text-align: center
  color: #f5f5f5
  line-height: 2.5em
  position: absolute
  top: 0
  right: 0
  z-index: 3
  -webkit-transform: translate(50%, -50%) rotate(45deg) translateY(7em)
  -moz-transform: translate(50%, -50%) rotate(45deg) translateY(7em)
  -o-transform: translate(50%, -50%) rotate(45deg) translateY(7em)
  -ms-transform: translate(50%, -50%) rotate(45deg) translateY(7em)
  transform: translate(50%, -50%) rotate(45deg) translateY(7em)
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25)
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25)
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25)
  &:hover
    background: #810000

.sidebar
  a
    text-decoration: none
    color: white
    transition: all 0.5s linear
  li > a
    font-weight: 400
    z-index: 10

/* Side Bar > Main Nav
 *––––––––––––––––––––––––––––––––––––––––––––––––––

.sidebar #main-nav
  li
    color: #222
    text-align: left
    transition: all 0.5s ease
    font-weight: 600
    font-size: 1.5em
    line-height: 2.5em
    height: inherit
    margin-bottom: 0
    margin-left: 1.25em
    color: #4E4E4E
    span
      line-height: inherit
      vertical-align: middle
  li::before
    font-family: 'FontAwesome'
    line-height: 2.5em
    margin-right: 0.75em
    height: 2.5em
    font-weight: 400
  a
    height: 4em
    width: 100%
    display: block
    transition: all 0.35s ease
    &:not(:last-of-type)
      margin-bottom: 1.5em
    &:hover
      transition: all 0.15s ease
      cursor: pointer
      background: rgba(166, 166, 166, 0.25)
    &.active
      background: rgba(166, 166, 166, 0.25)
      cursor: pointer
      -webkit-box-shadow: inset 4px 0 2px 0px rgba(0,0,0,0.25)
      -moz-box-shadow: inset 4px 0 2px 0px rgba(0,0,0,0.25)
      box-shadow: inset 4px 0 2px 0px rgba(0,0,0,0.25)
      &:hover
        transition: all 0.35s ease
        background: darken(rgba(166, 166, 166, 0.25), 15%)
      &::before
        content: ""
        width: 0.5em
        height: 4em
        position: absolute
        background: rgb(203, 216, 97)
        left: 0
        -webkit-box-shadow: 1px 0 1px 0 rgba(0,0,0,0.25)
        -moz-box-shadow: 1px 0 1px 0 rgba(0,0,0,0.25)
        box-shadow: 1px 0 1px 0 rgba(0,0,0,0.25)
    &[href="/"] li
      /*background: rgb(52, 152, 219);
      &::before
        content: ""
    &[href="/meetings"] li
      /*background: rgb(52, 73, 94);
      &::before
        content: '\f0c0'
    &[href="/tutorials"] li
      /*background: rgb(47, 184, 105);
      &::before
        content: '\f02d'
    &[href="/volunteering"] li
      /*background: rgb(230, 126, 34);
      &::before
        content: '\f1ae'
    &[href="/events"] li
      /*background: rgb(47, 184, 105);
      &::before
        content: '\f133'
    &[href="/history"] li
      /*background: rgb(142, 68, 173);
      &::before
        content: '\f187'

#heading
  display: inline-block

#page-content-wrapper
  float: left
  position: absolute
  left: 35rem
  width: inherit
  background: #fff
  overflow-x: hidden
  -webkit-overflow-scrolling: touch

.sidebar + #page-content-wrapper > .section.posts
  padding: 2em 0

.posts
  li
    h2
      margin-bottom: 0!important
    .content
      margin-top: 2em

#main-nav
  padding-top: 6em
.pagination
  text-align: center
  display: inherit
  font-size: 200%

#footer
  background: rgb(131, 131, 131)

ul
  &.footer-info li
    list-style: none
    padding: 0
    margin: 0
    transition: all .5s ease
    width: 100%
    color: #333
    padding: 0.75em 0
    font-size: 1.25em
    font-weight: 600
    &:not(:last-of-type)
      margin-bottom: 1em
  &.footer-icons li:not(:last-of-type)
    margin: 0 0.5em 0 0
  &.footer-info
    position: relative
    margin: 0
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15)
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15)
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15)

/* Sections
 *––––––––––––––––––––––––––––––––––––––––––––––––––

#scroll-indicator
  &::before
    content: "\f107"
    font-size: 3em
    font-family: "FontAwesome"
    bottom: 0!important
    color: #848484

.landing
  text-align: center
  background: #D5E7F0
  overflow: hidden

.menu-toggle + .posts
  padding: 8em 0 0 0 !important

.section-heading, .section-description
  margin-bottom: 1.2rem

.section.posts span:only-child
  text-align: center
  display: block
  font-size: 2em
  margin-top: 4em

/* landing
 *––––––––––––––––––––––––––––––––––––––––––––––––––

// osc logo
.landing
  img
    height: 20em
    margin: 0 auto
  h4
    margin-top: 0
    margin-bottom: 0
    font-family: 'Arimo', sans-serif
    font-weight: 700
    font-size: 4em
    display: inline
  h5
    margin-top: 0
    font-family: 'Arimo', sans-serif
    font-weight: 400
    font-size: 1.75em
    text-align: right
    display: block
    color: rgb(41, 41, 41)
  h4
    color: rgb(41, 41, 41)

.twelve.column
  z-index: 1

.landing .button-primary
  background: rgba(75, 75, 75, 0.35)
  border: 0
  border-radius: 0 !important
  transition: 0.3s ease
  -webkit-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.45)
  -moz-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.45)
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.45)
  &:hover
    background: rgba(75, 75, 75, 0.65)
    border: 0
    border-radius: 0 !important
    transition: all 0.3s ease

.button.button-primary:hover, button.button-primary:hover
  background: #848484
  border-color: #848484
  color: #fff

input
  &[type="submit"].button-primary:hover, &[type="reset"].button-primary:hover, &[type="button"].button-primary:hover
    background: #848484
    border-color: #848484
    color: #fff

.button.button-primary:focus, button.button-primary:focus
  background: #848484!important
  border-color: #848484!important
  color: #fff

input
  &[type="submit"].button-primary:focus, &[type="reset"].button-primary:focus, &[type="button"].button-primary:focus
    background: #848484!important
    border-color: #848484!important
    color: #fff

/* scroll down indicator

span.fa-angle-down
  position: relative
  bottom: 1em
  color: rgba(50, 50, 50, 0.5)
  z-index: 1

/* vertically centers landing elements

.landing > .container > .row
  height: 100%
  position: relative

#brand
  position: relative
  display: block

/* about
 *––––––––––––––––––––––––––––––––––––––––––––––––––

.about
  position: relative
  color: #fff
  padding: 0 !important
  text-align: center
  font-family: 'Open Sans', sans-serif
  z-index: -1
  -webkit-box-shadow: 0 6px 25px -5px rgba(0, 0, 0, 0.5)
  -moz-box-shadow: 0 6px 25px -5px rgba(0, 0, 0, 0.5)
  box-shadow: 0 6px 25px -5px rgba(0, 0, 0, 0.5)
  left: 0
  width: 100%
  background: #848484
  h5
    margin: 2em -1.5% 2em 0

.about-multiplier
  margin-bottom: .5rem
  color: #11DFC7

.about-heading
  margin-bottom: .3rem

.about-description
  opacity: .8
  font-weight: 300

#contact-wrapper
  background: #fff

.contact
  background: linear-gradient(to top, rgb(218,218,218) 0%, rgba(166,166,166,0.25) 3%, rgba(166,166,166,0.25) 98%, rgb(218,218,218) 100%)

.contact-info
  li
    margin-top: 0
    list-style: none
    display: inline-block
    margin: 0
    width: 50%
    &:nth-last-of-type(odd):last-of-type
      width: 100%
      margin-top: 0

.contact-info-email span, .contact-info-office span, .contact-info-meeting span
  font-size: 1.75em

.contact-info-email h6, .contact-info-office h6, .contact-info-meeting h6
  margin-bottom: 1em
  line-height: inherit
  font-size: 1.5em
  height: 1em

.contact-info-email, .contact-info-office, .contact-info-meeting
  height: 12rem

.contact-info-email-container, .contact-info-office-container, .contact-info-meeting-container
  margin: 0 0 0 12rem
  padding: 0 2rem
  display: inline-block
  vertical-align: middle
  line-height: 0
  text-shadow: none
  font-size: 3em

.contact-info-email:before, .contact-info-office:before, .contact-info-meeting:before
  position: absolute
  height: 12rem
  font-size: 3em
  font-family: 'FontAwesome'
  text-align: center
  width: 12rem
  vertical-align: middle
  margin: 0
  color: #fff
  overflow: hidden
  -webkit-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.35)
  -moz-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.35)
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.35)

.contact-info-email:before
  content: '\f0e0'
  background: rgb(230, 126, 34)

.contact-info-office:before
  content: '\f1ad'
  background: rgb(47, 184, 105)

.contact-info-meeting:before
  content: '\f133'
  background: rgb(52, 73, 94)

.contact-info > li .info-wrapper
  text-align: left
  // font-size: 3.5rem
  margin: 1.5em
  background-color: #fff
  height: 12rem
  line-height: 12rem
  overflow: hidden
  -webkit-box-shadow: 0 1px 12px -2px rgba(0, 0, 0, 0.25)
  -moz-box-shadow: 0 1px 12px -2px rgba(0, 0, 0, 0.25)
  box-shadow: 0 1px 12px -2px rgba(0, 0, 0, 0.25)

ul.contact-info
  display: block
  width: 100%
  margin: 0

#spacer
  height: 4em
  width: inherit
  background: #fff
  background: linear-gradient(to top, #D5E7F0 85%, #C1C1C1 100%)

/* Posts
 *––––––––––––––––––––––––––––––––––––––––––––––––––

.section.posts
  background-color: #fff
  position: relative
  z-index: 2
  font-size: 135%

  > .container
    margin-top: 2em
    margin-bottom: 4em

.posts
  ul
    list-style: none
    text-align: left
  li
    .content
      list-style: initial
      li
        list-style-type: square
  p
    text-align: justify
  > .container > ul > li
    padding-bottom: 2em
    padding-top: 2em
    &:not(:last-of-type)
      border-bottom: 1px solid #CDCDCD

.section.posts > .container > ul:not(:last-of-type)
  border-bottom: 1px solid #CDCDCD

.posts
  li > h5 + table
    margin: 0 auto
    width: 100%
  h6 + ul:not(:last-of-type)
    margin-bottom: 3em
  table
    width: 100%


footer
  text-align: center!important
  position: initial
  // FIXME
  // margin-bottom: 2em
  // using margins (which is prefered) renders a black background on chrome for mobile
  background: #fff
  padding-bottom: 2em
  .rss
    font-size: 1.5em
    font-weight: 400!important
    padding-bottom: 1em
  .with-love
    span
      color: #666
      font-size: 12px
      display: block
      text-align: center
      a
        color: #000000
        text-decoration: none
      .fa-heart
        margin: 0 3px
        font-size: 10px
        color: #990101


/* Categories
 *––––––––––––––––––––––––––––––––––––––––––––––––––

.categories
  background-image: url('../images/about-bg.jpg')
  background-size: cover
  color: #fff
  .section-description
    margin-bottom: 4rem

@media (max-width: 550px)
  .landing
    #brand
      margin-top: 0
    h4
      font-size: 2.5em
    h5
      font-size: 1.25em
    #button
      margin-top: 2em
  .contact-info > li .info-wrapper
    margin-right: 0.5em !important
    margin-left: 0.5em !important
  .section
    padding: 3rem 0 3rem
    &.about
      left: 0
      width: 100%
      z-index: 0
      &::before
        display: none
  #spacer
    display: none

/* Bigger than 550

@media (min-width: 550px) and (max-width: 750px) and (orientation: landscape)
  .landing
    height: 100%
    #heading-wrapper
      position: absolute
      width: 100%
      top: 50%
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      transform: translateY(-50%)
  #scroll-indicator
    bottom: 0%

@media (min-width: 550px) and (max-width: 750px)
  .section
    padding: 12rem 0 11rem
  .landing
    text-align: center
    height: 165px
  .landing-heading
    font-size: 2.4rem
    > h4
      font-family: inherit
  #heading
    font-size: 135%
  .landing
    img
      height: 18em
    h4
      font-size: 3.25em
    h5
      font-size: 1.5em
  .sidebar
    left: 0
    &.active
      z-index: 9
  .menu-toggle
    left: 100%
  .section.about
    left: 0
    width: 100%

@media (min-width: 750px)
  .landing-heading
    font-size: 2.6rem
  .section
    padding: 14rem 0 15rem
  .section-description
    max-width: 60%
    margin-left: auto
    margin-right: auto
  .categories
    padding: 15rem 0 8rem

@media (min-width: 1200px)
  .contact-info-email-container, .contact-info-office-container, .contact-info-meeting-container
    font-size: 85%
  .layout-mobile
    display: none
  ul.contact-info
    max-width: 120em
    margin: 0 auto
    display: table
  .landing #heading a#button
    position: inherit
    display: inline-block
    z-index: 2
    margin-top: 3em
  #page-content-wrapper
    z-index: 9
    width: 100%
    height: 100%
    transition: all 0.5s linear
    position: fixed
    left: 17.5rem
    width: inherit
    overflow-x: hidden
    &.home
      left: 35rem
  .layout-desktop
    display: inherit
  .section
    padding: 20rem 0 19rem
  .landing
    padding: 0
    height: 50%
  #scroll-indicator
    bottom: 50%
  .landing-heading
    font-size: 3.0rem
  .landing > a#button
    margin-top: 2rem
    position: fixed
    z-index: 4
    right: 0
    top: 0
  .about
    h5
      font-size: 185%
  #social-media
    width: 15%
  .sidebar + #page-content-wrapper
    &:not(.index)
      width: 100%
    > .section.posts:only-child > .container
      width: 50%
      left: -8.75rem

@media (max-width: 1200px) and (orientation: portrait)
  #scroll-indicator
    bottom: 50%
  .landing
    padding: 0
    height: 50%
    #heading-wrapper
      position: absolute
      width: 100%
      top: 25%
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      transform: translateY(-50%)
  #heading
    font-size: 100% !important

@media (max-height: 1000px) and (orientation: portrait)
  .landing
    height: 100%
    #heading-wrapper
      top: 50%
    #scroll-indicator
      bottom: 0%

@media (min-width: 1200px) and (orientation: portrait)
  .landing
    padding: 0
    height: 50%
    #heading-wrapper
      position: absolute
      width: 100%
      top: 25%
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      transform: translateY(-50%)
  #scroll-indicator
    display: none !important

@media (max-width: 550px) and (orientation: portrait)
  .landing img
    width: 15em

@media (min-width: 550px) and (max-width: 750px) and (orientation: landscape)
  .landing
    height: 100%
    #heading-wrapper
      position: absolute
      width: 100%
      top: 50%
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      transform: translateY(-50%)
  #scroll-indicator
    bottom: 1em
  #heading
    font-size: 85% !important

@media (min-width: 750px) and (max-width: 1200px) and (orientation: landscape)
  .landing
    height: 100%
    #heading-wrapper
      position: absolute
      width: 100%
      top: 50%
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      transform: translateY(-50%)
  #heading
    font-size: 100% !important
    #scroll-indicator
      bottom: 1em


@media (min-width: 1200px) and (orientation: landscape)
  .landing
    height: 100%
    #heading-wrapper
      position: absolute
      width: 100%
      top: 50%
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      transform: translateY(-50%)
  #scroll-indicator
    bottom: 0
  #heading
    font-size: 85%

@media (max-width: 1200px) and (min-width: 550px)
  .landing
    img
      height: 15em
    h4
      font-size: 3.25em
    h5
      font-size: 1.5em

@media (max-width: 1200px)
  .category-title
    margin-bottom: 1em
    h1
      text-align: right
  .contact-info-email-container, .contact-info-office-container, .contact-info-meeting-container
    font-size: 85%
  .contact-info
    li
      width: 100%
    > li
      .info-wrapper
        margin: 0 1.5em 1.5em 1.5em
      &:first-of-type .info-wrapper
        margin-top: 1.5em
  #scroll-indicator
    display: none
  .layout-mobile
    display: block
  .layout-desktop
    display: none
  .menu-toggle
    position: fixed
    margin: 2rem 0 0 2rem
    width: 5em
    height: 5em
    z-index: 9
    background: rgba(75, 75, 75, 0.35)
    line-height: 5em
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
    &:before
      position: absolute
      top: 0
      font-size: 2.5em
      height: inherit
      width: inherit
      left: 0
      vertical-align: middle
      line-height: inherit
      color: #fff
      font-family: 'FontAwesome'
      content: '\f0c9'
      text-align: center
    &.active:before
      content: '\f00d'
    &:hover
      transition: 1s ease

  .sidebar
    top: 0px
    bottom: 0px
    left: 0px
    text-align: right
    position: fixed
    margin: 0px
    list-style: outside none none
    transition: all 0.5s linear
    height: 100%
    z-index: 9
    width: 35rem
    -webkit-transform: translateX(-100%)
    -moz-transform: translateX(-100%)
    transform: translateX(-100%)
    &.active
      transition: all 0.5s linear
      width: 35rem
      z-index: 9
      left: 35rem

  .landing #heading a#button
    position: inherit
    display: inline-block
    z-index: 2
    margin-top: 3em
  #page-content-wrapper
    height: 100%
    transition: all 0.5s linear
    position: fixed
    overflow-x: hidden
    -webkit-overflow-scrolling: touch
    left: 0
    right: 0
    &.active
      position: fixed
      overflow-x: hidden
      overflow-y: scroll!important
      width: auto
      z-index: 8
      left: 35rem
  #main-nav
    padding-top: 2em

@media (max-width: 750px)
  .github-ribbon
    font-size: 1.25em
    height: 2.25em
    line-height: 2.25em
    -webkit-transform: translate(50%, -50%) rotate(45deg) translateY(5.5em)
    -moz-transform: translate(50%, -50%) rotate(45deg) translateY(5.5em)
    transform: translate(50%, -50%) rotate(45deg) translateY(5em)

@media (max-width: 350px)
  .contact-info-email-container, .contact-info-office-container, .contact-info-meeting-container
    font-size: 85%
  .github-ribbon
    // font-size: 85%
  .menu-toggle
    &.active
      margin: 0
      width: 100%
      background: #990101
      -webkit-box-shadow: inset 0 -.1em 0.2em 0 rgba(0,0,0,0.15)
      -moz-box-shadow: inset 0 -.1em 0.2em 0 rgba(0,0,0,0.15)
      box-shadow: inset 0 -.1em 0.2em 0 rgba(0,0,0,0.15)
  #page-content-wrapper
    right: initial
    width: 100%
    &.active
      transition: all 0.5s linear
      left: 100%
      width: 100%
    transition: all 0.5s linear
  #heading
    font-size: 115%
  .section.about
    z-index: 0
    &::before
      display: none
  .sidebar
    position: fixed
    width: 100%
    transition: all 0.5s linear
    &.active
      width: 100%
      left: 100%
      transition: all 0.5s linear
      z-index: 9

    #main-nav
      padding-top: 6em

  .menu-toggle
    transition: none !important
    left: 100%
    &.active
      transition: all 0.5s linear
      left: 0

@media (min-width: 750px) and (max-width: 1200px)
  .sidebar
    left: 0
  #heading
    font-size: 135%
  .sidebar.active
    z-index: 9
  .menu-toggle
    left: 100%
  #page-content-wrapper
    left: 0
    right: 0
    -webkit-transform: translateX(0%)
    -moz-transform: translateX(0%)
    transform: translateX(0%)
  .section.about
    left: 0
    width: 100%

@media (min-width: 350px) and (max-width: 750px)
  .sidebar
    left: 0
  #heading
    font-size: 135%
  .sidebar.active
    z-index: 9
  .menu-toggle
    left: 100%
  #page-content-wrapper
    left: 0
    width: 100%
    -webkit-transform: translateX(0%)
    -moz-transform: translateX(0%)
    transform: translateX(0%)
    position: fixed
    right: initial
    &.active
      width: 100%
      position: fixed

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
  html
    font-size: 50%

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1) and (max--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1) and (max-device-pixel-ratio: 1.5)
  html
    font-size: 35%

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi)
  html
    font-size: 40%!important
  .pagination
    font-size: 200%
  .cloud-1, .cloud-2, .cloud-3, .cloud-4
    -webkit-transform: scale(0.5)
    -moz-transform: scale(0.5)
    transform: scale(0.5)
  #page-content-wrapper
    -webkit-overflow-scrolling: touch

  *:not(#page-content-wrapper):not(.sidebar)
    // transitions
    -o-transition-property: none !important
    -moz-transition-property: none !important
    -ms-transition-property: none !important
    -webkit-transition-property: none !important
    transition-property: none !important
    // transformations
    // -o-transform: none !important
    // -moz-transform: none !important
    // -ms-transform: none !important
    // -webkit-transform: none !important
    // transform: none !important
    // animations
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important

/* Animate.css
 *––––––––––––––––––––––––––––––––––––––––––––––––––

#brand
  -webkit-animation-duration: 2s
  -o-animation-duration: 2s
  -moz-animation-duration: 2s
  -webkit-animation-delay: 0s
  -o-animation-delay: 0s
  -moz-animation-delay: 0s

#heading, #button
  -webkit-animation-duration: 1s
  -o-animation-duration: 1s
  -moz-animation-duration: 1s
  -webkit-animation-delay: 1s
  -o-animation-delay: 1s
  -moz-animation-delay: 1s

#main-nav
  -webkit-animation-duration: 2s
  -o-animation-duration: 2s
  -moz-animation-duration: 2s
  -webkit-animation-delay: 0s
  -o-animation-delay: 0s
  -moz-animation-delay: 0s

.sidebar-icons
  -webkit-animation-duration: 1s
  -o-animation-duration: 1s
  -moz-animation-duration: 1s
  -webkit-animation-delay: 0s
  -o-animation-delay: 0s
  -moz-animation-delay: 0s

#scroll-indicator
  -webkit-animation-duration: 3s
  -o-animation-duration: 3s
  -moz-animation-duration: 3s
  -webkit-animation-delay: 3s
  -o-animation-delay: 3s
  -moz-animation-delay: 3s
  animation-iteration-count: infinite
  -moz-animation-iteration-count: infinite
  -webkit-animation-iteration-count: infinite
  -o-animation-iteration-count: infinite
  position: absolute
  width: 100%
  display: inline-block
  right: 0%

/* Social Media Icons
 *––––––––––––––––––––––––––––––––––––––––––––––––––

.sidebar-icons li
  z-index: 17
  font-size: 4.5em
  display: inline-block
  list-style: none
  z-index: 7
  padding: 0
  height: 1.25em
  width: 1.25em
  max-width: 1.25em
  margin: 0
  transition: all 0s
  overflow: hidden
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45)
  &.flat-turq
    background: rgb(52, 152, 219)
  &.flat-orange
    background: rgb(230,126,34)
  &.flat-pink
    background: rgb(142, 68, 173)

ul.sidebar-icons
  position: relative
  margin: 0  0 1em 0
  z-index: 7
  display: block
  transition: none
  li
    &:hover
      cursor: pointer

.sidebar-icons ul
  position: absolute
  z-index: 7

.sidebar-secondary
  text-align: center
  position: absolute
  bottom: 1em
  width: 100%
  z-index: 8

#sidebar-secondary-wrapper
  position: fixed
  width: 100%
  top: 0
  height: 100%
  z-index: -1

ul.sidebar-icons li:not(:last-of-type)
  margin: 0 0.4em 0 0

[class*='flat'] i
  line-height: 1.25em
  color: #eee
  cursor: pointer
  width: 100%
  display: block

ul.sidebar-icons i:before
  text-align: center
  display: inherit

a#button
  background-color: #848484


// TODO
// shorten/tidy sass

// mailchimp
.section.subscribe
  padding: 0
  background: #777
  position: absolute
  width: 100%
  transform: translateY(-100%)
  -webkit-transform: translateY(-100%)
  -moz-transform: translateY(-100%)

form
  margin-bottom: 0!important

#mc_embed_signup, #mc_embed_signup *
  box-sizing: border-box

.mc-field-group
  float: left
.mc-field-group.input-group ul, .mc-field-group.input-group li
  margin-bottom: 0

#mc_embed_signup
  width: 100%
  text-align: right
  padding: 3em 2em
  display: block

#mc_embed_signup label, #mc_embed_signup #mce-EMAIL, #mc_embed_signup button
  border: none
  display: inline
  vertical-align: middle
  font-size: 1em
  width: 100%
  margin: 0
  font-weight:normal

#mc_embed_signup label
  display: block
  text-transform: uppercase
  color: white

#mc_embed_signup input:focus
  outline: 1px solid rgba(0, 0, 0, 0.2)

#mc_embed_signup button
  border: none
  font-weight: normal
  color: #fff
  text-transform: uppercase
  background: #d53c3b
  width: 7em
  cursor: pointer
  float: right

#mc_embed_signup button:hover
  background: #a0cf63

.mc-field-group.input-group
  margin-left: 5em
  li
    display: inline-block
    text-align: center
    &:not(:last-of-type)
      margin-right: 5em

input#mc-embedded-subscribe
  margin-bottom: 0
  border-radius: 0
  // FIXME
  background: #00FFA9
  border: 0

input#mce-EMAIL
  border: 0
  border-radius: 0
  min-width: 25em
