body {
  overflow-x: hidden;
}

canvas {
  position: relative;
  width: 100%;
  height: 100%;
  filter: saturate(50%) hue-rotate(-50deg) brightness(110%) grayscale(65%);
  -webkit-filter: saturate(50%) hue-rotate(-50deg) brightness(110%) grayscale(65%);
  z-index: 1;
  opacity: 0;

}

a:not(.sidebar) {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: inherit;
}

p,ul,li,h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  visibility: hidden;
}

hr {
  width: 25%;
  text-align: center;
  border-top: 1px solid #333;
  margin: 0 auto;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 4px;
}

/* Side Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sidebar {
  /*background: linear-gradient( #EFEFEF, #FFF);*/
  background: #fff;
  left: 0px;
  text-align: right;
  position: fixed;
  margin: 0px;
  list-style: outside none none;
  transition: all 0.5s linear;
  height: 100%;
  z-index: 9;
  width: 35rem;
  perspective: 100em;
}

.github-ribbon {
  font-size: 1.2em;
  background: #990101;
  height: 2em;
  width: 20em;
  text-align: center;
  color: #f5f5f5;
  line-height: 2em;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: translate(50%, -50%) rotate(45deg) translateY(7em);
  -moz-transform: translate(50%, -50%) rotate(45deg) translateY(7em);
  -o-transform: translate(50%, -50%) rotate(45deg) translateY(7em);
  -ms-transform: translate(50%, -50%) rotate(45deg) translateY(7em);
  transform: translate(50%, -50%) rotate(45deg) translateY(7em);
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.45);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.45);
}
.github-ribbon:hover {
  background: #810000;
}

.sidebar, .sidebar-secondary {
  -webkit-box-shadow: inset 0 0 35px 0 rgba(0,0,2,0.35);
  -moz-box-shadow: inset 0 0 355px 0 rgba(0,0,2,0.35);
  box-shadow: inset 0 0 35px 0 rgba(0,0,2,0.35);
}

.sidebar a {
  text-decoration:none;
  color:white;
  transition: all 0.5s linear;
}

.sidebar li>a {
  font-weight: 400;
  z-index: 10;
}

.sidebar li {
  transition: all 0.5s ease;
  font-weight: 300;
  font-size: 1.5em;
  color: #222;
  line-height: 1.75em;
  background: #EFEFEF;
  text-align: center;
  padding: 0.1em 0;
  margin-bottom: 1em;
  -webkit-box-shadow: inset 0 1px 2px 0 #d0d0d0;
  -moz-box-shadow: inset 0 1px 2px 0 #d0d0d0;
  box-shadow: inset 0 1px 2px 0 #d0d0d0;
}

.sidebar #main-nav li:hover {
  transition: all 0.5s ease;
  background-color: #848484;
  color: #fff;
  cursor:pointer;
  transition: all 0.1s linear;
  -webkit-box-shadow: inset 0 1px 2px 0 #777;
  -moz-box-shadow: inset 0 1px 2px 0 #777;
  box-shadow: inset 0 1px 2px 0 #777;
}

.sidebar #main-nav {
  margin: 8em 5em 0 5em;
}


#heading-wrapper {
  position: absolute;
  width: 100%;
  z-index: 2;
  transform: translateY(-50%);
  top: 50vh;
}

#heading {
  display: inline-block;
  /*position: absolute;*/
}


/* offset content for sidebar */
#page-content-wrapper {
  float: left;
  position: absolute;
  left: 35rem;
  width: inherit;
  background: #fff;

  /*-webkit-box-shadow: -10px -10px 20px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: -10px -10px 20px 0 rgba(0,0,0,0.15);
  box-shadow: -10px -10px 20px 0 rgba(0,0,0,0.15);*/
}

.sidebar+#page-content-wrapper>.section.posts {
    padding: 2em 0;
}

.sidebar+#page-content-wrapper:not(.index) {
    width: 100%;
}

.sidebar+#page-content-wrapper>.section.posts:only-child>.container {
  width: 50%;
  /*FIXME*/
  left: -17.5rem;
}

#main-nav {
  padding-top: 6em;
}

#footer {
  background: rgb(131, 131, 131);
}

ul.footer-info li {
  list-style: none;
  padding: 0;
  margin: 0;
  /*font-size: 1.5em;*/
  transition: all .5s ease;
  width: 100%;
  color: #333;
  padding: 0.75em 0;
  font-size: 1.25em;
  font-weight: 600;
}

ul.footer-info li:not(:last-of-type) {
  margin-bottom: 1em;
}

ul.footer-icons li:not(:last-of-type) {
  margin: 0 0.5em 0 0;
}

ul.footer-info {
  position: relative;
  margin: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.landing {
  text-align: center;
  background: #D5E7F0;
}

.menu-toggle+.posts {
  padding: 8em 0 0 0!important;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.section.posts span:only-child {
    text-align: center;
    display: block;
}
/* landing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* osc logo */
.landing img {
  height: 20em;
  margin: 0 auto;
}

.landing h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 4em;
  display: inline;
}

.landing h5 {
  margin-top: 0;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  text-align: right;
  display: block;
}

.landing h5, .landing h4 {
  color: rgb(41,41,41);
}


.twelve.column {
    z-index: 1;
}

.landing .button-primary {
  background: rgba(75,75,75,0.35);
  border: 0;
  border-radius: 0!important;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.45);
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.45);
}

.landing .button-primary:hover {
  background: #848484;
  border: 0;
  border-radius: 0!important;
  transition: 0.3s ease;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background: #848484;
  border-color: #848484;
  color: #fff;
}

/* scroll down indicator */
span.fa-angle-down {
    position: relative;
    bottom: 2em;
    color: rgba(50, 50, 50, 0.5);
    z-index: 1;
}


/* vertically centers landing elements */
.landing > .container > .row {
  height: 100%;
  position: relative;
}

#brand {
  position: relative;
  display: block;
}

/* about
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about:before {
  left: 0;
  top: 100%;
  position: absolute;
  content: '';
  display: block;
  border-left: 100px solid transparent;
  border-bottom: 25px solid transparent;
  border-top: 65px solid #b3b3b3;
}

.about {
  position: relative;
  color: #fff;
  padding: 0!important;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  z-index: -1;
  border-top: 25px solid #777777;
  -webkit-box-shadow: 0 6px 25px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 6px 25px -5px rgba(0,0,0,0.5);
  box-shadow: 0 6px 25px -5px rgba(0,0,0,0.5);
  left: -1.5%;
  width: 101.5%;
  background: #848484;
}

.about h5 {
  margin: 2em -1.5% 2em 0;
}

.about-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.about-heading {
  margin-bottom: .3rem;
}
.about-description {
  opacity: .8;
  font-weight: 300;
}

#contact {
  background: #EFEFEF;
}

#contact {
  background: linear-gradient(to top, #DADADA 0%, #efefef 3%, #efefef 98%, #DADADA 100%);
}

.contact-info li {
  list-style: none;
  display: inline-block;
  margin: 0;
  width: 50%;
}

.contact-info li:nth-last-of-type(odd):last-of-type {
  width: 100%;
  margin-top: 0;
}

.contact-info li:nth-last-of-type(odd):last-of-type .info-wrapper {
  margin-top: 0;
}

.contact-info-email span, .contact-info-office span, .contact-info-meeting span {
  font-size: 65%;
}

.contact-info-email h6, .contact-info-office h6, .contact-info-meeting h6 {
  margin-bottom: 1em;
}

.contact-info-email, .contact-info-office, .contact-info-meeting {
  height: 3.5em;
}

.contact-info-email-container, .contact-info-office-container, .contact-info-meeting-container {
  margin: 0 0 0 3.5em;
  padding: 0 1em;
  height: 6rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  text-shadow: none;
}

.contact-info-email:before, .contact-info-office:before, .contact-info-meeting:before {
  position: absolute;
  height: initial;
  font-family: 'FontAwesome';
  text-align: center;
  width: 12rem;
  vertical-align: middle;
  /*line-height: 3.5em;*/
  margin: 0;
  color: #fff;
  overflow: hidden;
  font-size: 150%;
  -webkit-box-shadow: 2px 0 2px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: 2px 0 2px 0 rgba(0,0,0,0.35);
  box-shadow: 2px 0 2px 0 rgba(0,0,0,0.35);
}

.contact-info-email:before {
  content: '\f0e0';
  background: rgb(230, 126, 34);
}

.contact-info-office:before {
  content: '\f1ad';
  background: rgb(47, 184, 105);
}

.contact-info-meeting:before {
  content: '\f133';
  background: rgb(52, 73, 94);
}

.contact-info>li .info-wrapper {
  text-align: left;
  font-size: 3.5rem;
  margin: 1.5em;
  background-color: #fff;
  height: 12rem;
  line-height: 12rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 12px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 12px -2px rgba(0,0,0,0.25);
  box-shadow: 0 1px 12px -2px rgba(0,0,0,0.25);
}

ul.contact-info {
  /*margin: 1em;*/
  display: inline-table;
  width: 100%;
  margin: 0;
}

#spacer {
  height: 4em;
  width: inherit;
  background: #fff;
  background: linear-gradient(to top, #D5E7F0 85%, #C1C1C1 100%);
}
/* Posts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.posts {
    background-color: #fff;
    position: relative;
    z-index: 2;
    /*-webkit-box-shadow: 2px 2px 25px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 25px -5px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 25px -5px rgba(0,0,0,0.5);*/
}

.section.posts>.container {
  margin-top: 2em;
}

.posts ul{
  list-style: none;
  text-align: left;
}

.posts p{
  text-align: justify;

}

.posts>.container>ul>li {
  padding-bottom: 2em;
  padding-top: 2em;
}

.posts>.container>ul>li:not(:last-of-type), .section.posts>.container>ul:not(:last-of-type) {
  border-bottom: 1px solid #CDCDCD;
}

.posts li>h3+table {
    margin: 0 auto;
    width: 100%;
}

.posts h6+ul:not(:last-of-type) {
    margin-bottom: 3em;
}



/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/about-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

@media (max-width: 550px) {

  /*.landing img {
    height: 14em;
  }*/

  .landing h4 {
    font-size: 2.5em;
  }

  .landing h5 {
    font-size: 1.25em;
  }

  .contact-info>li .info-wrapper {
    margin-right: 0.5em!important;
    margin-left: 0.5em!important;
  }

  .section {
    padding: 3rem 0 3rem;
  }

  .landing-depth-effect {
      background: #848484;
      width: 100%;
      height: 100%;
      margin: 0 auto;
  }

  .landing-depth-effect:before {
    left: 0;
    width: 100%;
    -webkit-transform: perspective(1500rem) scaleY(.5) rotateX(89deg);
    -moz-transform: perspective(1500rem) scaleY(.5) rotateX(89deg);
    -ms-transform: perspective(1500rem) scaleY(.5) rotateX(89deg);
    -o-transform: perspective(1500rem) scaleY(.5) rotateX(89deg);
    transform: perspective(1500rem) scaleY(.5) rotateX(89deg);
  }

  .landing-depth-effect:after {
    left: 0;
    width: 100%;
    -webkit-transform: perspective(1500rem) scaleY(.5) rotateX(89deg);
    -moz-transform: perspective(1500rem) scaleY(.5) rotateX(89deg);
    -ms-transform: perspective(1500rem) scaleY(.5) rotateX(89deg);
    -o-transform: perspective(1500rem) scaleY(.5) rotateX(89deg);
    transform: perspective(1500rem) scaleY(.5) rotateX(89deg);
  }

  .section.about {
    left: 0;
    width: 100%;
    z-index: 0;
  }

  .section.about::before {
    display: none;
  }

  #spacer, .landing-depth-effect::before, .landing-depth-effect::after {
    display: none;
  }

}



/* Bigger than 550 */
@media (min-width: 550px) and (max-width: 750px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .landing {
    text-align: center;
    height: 165px;
  }

  .landing-heading {
    font-size: 2.4rem;
  }

  .landing-heading > h4 {
    font-family: inherit;
  }

  #heading {
      font-size: 135%;
  }

  .landing img {
    height: 18em;
  }

  .landing h4 {
    font-size: 3.25em;
  }

  .landing h5 {
    font-size: 1.5em;
  }

  .sidebar {
    left: 0;
  }

  .sidebar.active {
    /*left: 35rem;*/
    z-index: 9;
  }

  .menu-toggle {
    /*position: absolute;*/
    left: 100%;
  }

  .landing-depth-effect {
      background: #848484;
      width: 81%;
      height: 100%;
      margin: 0 auto;
      -webkit-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
      -moz-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
      box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
    }

  .landing-depth-effect:before {
    left: 0;
    width: 100%;
  }

  .landing-depth-effect:after {
    left: 0;
    width: 100%;
  }

  .section.about {
    left: 0;
    width: 100%;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .landing {
    height: 190px;
  }

  .landing-heading {
    font-size: 2.6rem;
  }

  .section {
    padding: 14rem 0 15rem;
  }

  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1200 */
@media (min-width: 1200px) {
  .layout-mobile {
    display: none;
  }

  ul.contact-info {
    max-width: 120em;
    margin: 0 auto;
    display: table;
  }

  #page-content-wrapper {
    z-index: 9;
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    position: absolute;
    left: 35rem;
    width: inherit;
  }

  .layout-desktop {
    display: inherit;
  }

  .section {
    padding: 20rem 0 19rem;
  }
  .landing {
    padding: 0;
    height: 50vh;
  }

  .landing-depth-effect:before {
    top: -50%;
  }

  .landing-depth-effect:after {
    bottom: 50%;
  }

  #heading-wrapper {
    top: 25vh;
  }

  .landing-heading {
    font-size: 3.0rem;
  }

  .landing>a#button {
    margin-top: 2rem;
    position: fixed;
    z-index: 4;
    right: 0;
    top: 0;
  }

  #social-media {
    width: 15%;
  }

}

@media (max-width: 1200px) and (orientation: portrait) {
  .landing {
    height: 50vh;
  }

  .landing-depth-effect:before {
    top: -50%;
  }

  .landing-depth-effect:after {
    bottom: 50%;
  }

  #heading-wrapper {
    transform: translateY(-50%);
    top: 25vh;
  }

  #heading {
    font-size: 100%!important;
  }

}


@media (min-width: 1200px) and (orientation: portrait) {

  .landing {
    padding: 0;
    /*FIXME*/
    height: 50vh;
  }

  #heading-wrapper {
    transform: translateY(-75%);
  }

  #brand {
    margin-top: 15vh;
  }

  #scroll-indicator {
    display: none!important;
  }

  .landing-depth-effect:before {
    top: -50%;
  }

}

@media (min-width: 550px) and (max-width: 750px) and (orientation: landscape) {

  .landing {
    height: 100vh;
  }

  #heading {
    font-size: 85%!important;
  }

}

@media (min-width: 750px) and (max-width: 1200px) and (orientation: landscape) {

  .landing {
    height: 50vh;
  }

  #heading-wrapper {
      transform: translateY(-150%);
  }

  #heading {
    font-size: 100%!important;
  }
}


@media (max-width: 1200px) and (min-width: 550px) {

  .landing img {
    height: 15em;
  }

  .landing h4 {
    font-size: 3.25em;
  }

  .landing h5 {
    font-size: 1.5em;
  }

}


@media (max-width: 1200px) {

  /* Menu Icon
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .contact-info li {
    width: 100%;
  }

  .contact-info>li .info-wrapper {
    margin: 0 1.5em 1.5em 1.5em;
  }

  .contact-info>li:first-of-type .info-wrapper {
    margin-top: 1.5em;
  }

  #scroll-indicator {
    display: none;
  }

  .layout-mobile {
    display: block;
  }

  .layout-desktop {
    display: none;
  }

  .menu-toggle {
    position: fixed;
    margin: 2rem 0 0 2rem;
    width: 5em;
    height: 5em;
    z-index: 9;
    background: rgba(75,75,75,0.35);
    line-height: 5em;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.45);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.45);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.45);
  }

  .menu-toggle:before {
    position: absolute;
    top: 0;
    font-size: 2.5em;
    height: inherit;
    width: inherit;
    left: 0;
    vertical-align: middle;
    line-height: inherit;
    color: #fff;
    font-family: 'FontAwesome';
    content: '\f0c9';
    text-align: center;
  }

  .menu-toggle.active:before {
    content: '\f00d';
  }

  .menu-toggle:hover {
    transition: 1s ease;
    /*background: rgb(75,75,75);*/
  }

  .sidebar {
    /*background-color: #333;*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    text-align: right;
    position: fixed;
    margin: 0px;
    list-style: outside none none;
    transition: all 0.5s linear;
    height: 100%;
    z-index: 9;
    /*width: 40%;*/
    width: 35rem;

    transform: translateX(-100%);
  }

  .sidebar.active {
    /*background-color: #;*/
    transition: all 0.5s linear;
    /*width: 40%;*/
    width: 35rem;
    z-index: 9;
    left: 35rem;
    /*transform: translateX(0%);*/
  }

  .landing {
    /*height: 60vh !important;*/
  }

  #brand {
    margin-top: 8em;
  }

  .landing #heading a#button {
    position: inherit;
    display: inline-block;
    z-index: 2;
    margin-top: 3em;
  }

  #page-content-wrapper {
    /*transform: translateX(-15%);*/
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    position: absolute;
    left: 0;
  }

  #page-content-wrapper.active {
    /*transform: translateX(35rem);*/
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 8;
    left: 35rem;
  }

  #main-nav {
    padding-top: 2em;
  }

}

@media (max-width: 350px)  {

  #page-content-wrapper.active  {
    transition: all 0.5s linear;
    left: 100%;
  }

  #page-content-wrapper {
    transition: all 0.5s linear;
  }

  #heading {
      font-size: 115%;
  }

  .section.about {
    z-index: 0;
  }

  .section.about::before {
    display: none;
  }

  .sidebar.active {
    width: 100vw;
    left: 100vw;
    transition: all 0.5s linear;
    z-index: 9;
  }

  .sidebar {
    position: fixed;
    width: 100vw;
    transition: all 0.5s linear;
  }

  .menu-toggle {
    transition: none!important;
    left: 100%;
  }

  .menu-toggle.active {
    transition: all 0.5s linear;
    left: 0;
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
  .sidebar {
    left: 0;
  }

  #heading {
      font-size: 135%;
  }

  .sidebar.active {
    /*left: 35rem;*/
    z-index: 9;
  }

  .menu-toggle {
    /*position: absolute;*/
    left: 100%;
  }

  #page-content-wrapper {
    left: 0;
    transform: translateX(0%);
  }


    .landing-depth-effect:before {
      left: 0;
      width: 100%;
    }

    .landing-depth-effect:after {
      left: 0;
      width: 100%;
    }

    .section.about {
      left: 0;
      width: 100%;
    }

    .landing-depth-effect {
        background: #848484;
        width: 81%;
        height: 100%;
        margin: 0 auto;
        -webkit-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
        -moz-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
        box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
      }
}

@media (min-width: 350px) and (max-width: 750px) {
  .sidebar {
    left: 0;
  }

  #heading {
      font-size: 135%;
  }

  .sidebar.active {
    /*left: 35rem;*/
    z-index: 9;
  }

  .menu-toggle {
    /*position: absolute;*/
    left: 100%;
  }

  #page-content-wrapper {
    left: 0;
    transform: translateX(0%);
  }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5){
    html {
      font-size: 50%;
    }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.0) and (-webkit-max-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.0) and (max--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.0) and (max-device-pixel-ratio: 1.5){
    html {
      font-size: 35%;
    }
}

/*@media
  only screen and (-webkit-device-pixel-ratio: 1.0),
  only screen and (moz-device-pixel-ratio: 1.0),
  only screen and (device-pixel-ratio: 1.0),
  only screen and (min-resolution: 250dpi){
    html {
      /*TODO*/
      font-size: 65%;
    }
}*/

/*@media (min-width: 1500px) {
  .landing-depth-effect {
    width: 40%;
  }
}*/


.landing-depth-effect {
  background: #848484;
  width: 80.5%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
  -moz-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
  box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
}

.landing-depth-effect:before {
  content: '';
  /*left: -1.5%;*/
  top: -50%;
  background: #939393;
  position: absolute;
  /*width: 101.5%;*/
  height: 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: perspective(800rem) scaleY(.5) rotateX(87deg);
  -moz-transform: perspective(800rem) scaleY(.5) rotateX(87deg);
  -ms-transform: perspective(800rem) scaleY(.5) rotateX(87deg);
  -o-transform: perspective(800rem) scaleY(.5) rotateX(87deg);
  transform: perspective(800rem) scaleY(.5) rotateX(87deg);
}

.landing-depth-effect:after {
  content: '';
  bottom: 50%;
  background: #848484;
  position: absolute;
  /*width: 101.5%;*/
  height: 25px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: perspective(800rem) scaleY(.5) rotateX(87deg);
  -moz-transform: perspective(800rem) scaleY(.5) rotateX(87deg);
  -ms-transform: perspective(800rem) scaleY(.5) rotateX(87deg);
  -o-transform: perspective(800rem) scaleY(.5) rotateX(87deg);
  transform: perspective(800rem) scaleY(.5) rotateX(87deg);
}


@media (min-width: 1200px) and (max-width: 2000px) {
  .landing-depth-effect {
    background: #848484;
    width: 81.5%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
    -moz-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
    box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
  }

  .landing-depth-effect::before {
    content: '';
    left: -1.5%;
    top: -50%;
    background: #939393;
    position: absolute;
    width: 101.5%;
    height: 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(800rem) scaleY(.5) skewX(-9deg) rotateX(87deg);
    -moz-transform: perspective(800rem) scaleY(.5) skewX(-9deg) rotateX(87deg);
    -ms-transform: perspective(800rem) scaleY(.5) skewX(-9deg) rotateX(87deg);
    -o-transform: perspective(800rem) scaleY(.5) skewX(-9deg) rotateX(87deg);
    transform: perspective(800rem) scaleY(.5) skewX(-9deg) rotateX(87deg);
  }

  .landing-depth-effect::after {
    content: '';
    left: -1.5%;
    bottom: 50%;
    background: #848484;
    position: absolute;
    width: 101.5%;
    height: 25px;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(800rem) scaleY(.5) skewX(-9deg) rotateX(87deg);
    -moz-transform: perspective(800rem) scaleY(.5) skewX(-9deg) rotateX(87deg);
    -ms-transform: perspective(800rem) scaleY(.5) skewX(-9deg) rotateX(87deg);
    -o-transform: perspective(800rem) scaleY(.5) skewX(-9deg) rotateX(87deg);
    transform: perspective(800rem) scaleY(.5) skewX(-9deg) rotateX(87deg);
  }

}



@media (min-width: 2000px) and (max-width: 3000px) {
  .landing-depth-effect::before {
    -webkit-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -moz-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -ms-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -o-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
  }

  .landing-depth-effect {
    background: #848484;
    width: 81.5%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
    -moz-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
    box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
  }

  .landing-depth-effect::before {
    content: '';
    left: -1.5%;
    top: -50%;
    background: #939393;
    position: absolute;
    width: 101.5%;
    height: 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -moz-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -ms-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -o-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
  }

  .landing-depth-effect::after {
    content: '';
    left: -1.5%;
    bottom: 50%;
    background: #848484;
    position: absolute;
    width: 101.5%;
    height: 25px;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -moz-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -ms-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -o-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
  }
}

@media (min-width: 3000px) {
  .landing-depth-effect::before {
    -webkit-transform: perspective(800rem) scaleY(.5) skewX(-23deg) rotateX(87deg);
    -moz-transform: perspective(800rem) scaleY(.5) skewX(-23deg) rotateX(87deg);
    -ms-transform: perspective(800rem) scaleY(.5) skewX(-23deg) rotateX(87deg);
    -o-transform: perspective(800rem) scaleY(.5) skewX(-23deg) rotateX(87deg);
    transform: perspective(800rem) scaleY(.5) skewX(-23deg) rotateX(87deg);
  }

  .landing-depth-effect {
    background: #848484;
    width: 81.75%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
    -moz-box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
    box-shadow: 0 -50px 20px 0 rgba(0,0, 0,0.25);
  }

  .landing-depth-effect::before {
    content: '';
    left: -1.5%;
    top: -50%;
    background: #939393;
    position: absolute;
    width: 101.5%;
    height: 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(800rem) scaleY(.5) skewX(-23deg) rotateX(87deg);
    -moz-transform: perspective(800rem) scaleY(.5) skewX(-23deg) rotateX(87deg);
    -ms-transform: perspective(800rem) scaleY(.5) skewX(-23deg) rotateX(87deg);
    -o-transform: perspective(800rem) scaleY(.5) skewX(-23deg) rotateX(87deg);
    transform: perspective(800rem) scaleY(.5) skewX(-23deg) rotateX(87deg);
  }

  .landing-depth-effect::after {
    content: '';
    left: -1.5%;
    bottom: 50%;
    background: #848484;
    position: absolute;
    width: 101.5%;
    height: 25px;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -moz-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -ms-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    -o-transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
    transform: perspective(800rem) scaleY(.5) skewX(-16deg) rotateX(87deg);
  }
}


/*@media (min-width: 2500px) {
  .landing-depth-effect {
    width: 40%;
  }
}*/

/*@media (min-width: 3000px) {
  .landing-depth-effect {
    width: 39.6%;
  }
}*/


/* Animate.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#brand {
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
  -moz-animation-duration: 2s;

  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#heading {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;

  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

#button {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;

  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

#main-nav {
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
  -moz-animation-duration: 2s;

  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

.sidebar-icons {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;

  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#scroll-indicator {
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;
  -moz-animation-duration: 3s;

  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
  -moz-animation-delay: 3s;

  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}



/* Social Media Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.sidebar-icons li {
  z-index: 17;
  font-size: 5em;
  display: table;
  list-style: none;
  z-index: 7;
  display: inline;
  text-align: initial;
  padding: 0;
  height: 1.25em;
  width: 1.25em;
  margin: 0;
  transition: all 0s;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.45);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.45);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.45);
}

.sidebar-icons li.flat-turq {
  background: rgb(52, 152, 219);
}

.sidebar-icons li.flat-pink {
  background: rgb(142, 68, 173);
}

ul.sidebar-icons {
  position: relative;
  margin: 3em 0;
  z-index: 7;
  display: inline-flex;
  transition: none;
}

ul.sidebar-icons li>a {
  display: flex;
}

.sidebar-icons ul {
  position: absolute;
  z-index: 7;
}

.sidebar-secondary {
  text-align: center;
  position: absolute;
  bottom: 4em;
  width: 100%;
  z-index: 8;
  background: linear-gradient(to top, #dadada 0%, #EFEFEF 5%, #EFEFEF 95%, #dadada 100%);
}

#sidebar-secondary-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
  z-index: -1;
}

ul.sidebar-icons li:not(:last-of-type) {
  margin: 0 0.5em 0 0;
}

[class*='flat'] i {
  line-height: 1.25em;
  color: #eee;
  cursor: pointer;
  width: 100%;
}

ul.sidebar-icons i:before {
  text-align: center;
  display: inherit;
}


/* SimpTip
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.simptip-position-top[data-tooltip]::before {
  border-top-color: rgb(75,75,75);
}
.simptip-position-top[data-tooltip]::after {

  background-color: rgb(75,75,75);
  color: #fff;
  border-radius: 0;
}
