<ul class="sidebar">
  <div id="main-nav">

    <a href="{{ site.baseurl }}/">
      <li><span>Home</span></li>
    </a>

    <a href="{{ site.baseurl }}/schedules">
      <li><span>Schedules</span></li>
    </a>

    <a href="{{ site.baseurl }}/tutorials">
      <li><span>Tutorials</span></li>
    </a>

    <a href="{{ site.baseurl }}/volunteering">
      <li><span>Volunteering</span></li>
    </a>

    <a href="{{ site.baseurl }}/events">
      <li><span>Events</span></li>
    </a>

    <a href="{{ site.baseurl }}/history">
      <li><span>History</span></li>
    </a>

    <a href="{{ site.baseurl }}/affiliations">
      <li><span>Affiliations</span></li>
    </a>

  </div>


  <div id="sidebar-secondary-wrapper">
    <div class="sidebar-secondary">

      <ul class="sidebar-icons">

        <li class="flat-turq">
          <a href="//twitter.com/osuosc" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>

        <li class="flat-pink">
          <a href="//github.com/OSUOSC" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>

        <li class="flat-orange">
          <a href="{{ site.baseurl }}/atom.xml" target="_blank">
            <i class="fa fa-rss"></i>
          </a>
        </li>

      </ul>

    </div>
  </div>

</ul>