#contact-wrapper
  .contact
    ul.contact-info
      li
        .info-wrapper
          .contact-info-email.flat-orange
            .contact-info-email-container
              h6 email
              span info@opensource.osu.edu
      li
        .info-wrapper
          .contact-info-office.flat-green
            .contact-info-office-container
              h6 office
              span Caldwell Labs, Rm 112F
      li
        .info-wrapper
          .contact-info-meeting.flat-blue
            .contact-info-meeting-container
              h6 next meeting
              // TODO
              // make into variable
              span December 3rd 2015 in Caldwell 120
