.landing
  
  .spork
    a(href='//github.com/OSUOSC/open-source-club-website')
  
  .clouds
    .cloud-1(data-speed='35000')
    .cloud-2(data-speed='45000', data-delay='15000')
    .cloud-3(data-speed='40000')
    .cloud-4(data-speed='38000', data-delay='20000')
  #heading-wrapper
    #heading
      img#brand(src='{{ site.baseurl }}/dist/img/osc-logo.svg')
      h4.landing-heading Closed Source Club
      h5.landing-heading at The Ohio State University

