.section.subscribe
  .info
  .subscribe-wrapper
    .subscribe-title
      h4 Join Our Mailing List
    #mc_embed_signup
      form#mc-embedded-subscribe-form.validate(action='//osu.us11.list-manage.com/subscribe/post?u=1fc38b50deed1d08f57fa1cbd&id=34a04a1806&', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll
          .mc.mc-field-group
            span.input-group-title email
            .input-email-wrapper
              input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
          .mc.mc-field-group.input-group
            span.input-group-title preferred format
            ul
              li
                input#mce-EMAILTYPE-0(type='radio', value='html', name='EMAILTYPE')
                label.radio.circle(for='mce-EMAILTYPE-0')
                  span.big
                    span.small
                  span.email-format html
              li
                span or
              li
                input#mce-EMAILTYPE-1(type='radio', value='text', name='EMAILTYPE')
                label.radio.circle(for='mce-EMAILTYPE-1')
                  span.big
                    span.small
                  span.email-format text
          #mce-responses
            #mce-error-response.response(style='display:none')
            #mce-success-response.response(style='display:none')
          // real people should not fill this in and expect good things - do not remove this or risk form bot signups
          div(style='position: absolute; left: -5000px;')
            input(type='text', name='b_1fc38b50deed1d08f57fa1cbd_34a04a1806', tabindex='-1', value='')
          input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
