noscript
  .section.attention
    .container
      .row
        .two-third.column.value
          h5
            | It appears you have Javascript disabled.
          h5
            | This site uses Javascript for presentational purposes.
            | It does not however link to any external scripts nor does it make
            | any background cross-site requests.
          h5
            | Unless Javascript is enabled you will be unable to signup for our
            | mailing list or easily search archived content.

