<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include sidebar.html %}


<div id="page-content-wrapper">
  <div class="section posts">
    <div class="container">
      <div class="category-title">
        <h5>{{ page.category }}</h5>
      </div>
      {% if site.categories.[page.category] == null %}
        <span>There are currently no events planned</span>
      {% else %}
      {% for post in site.categories.[page.category] %}
        <ul>
          <li>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <span class="date">posted: {{ post.date | date: "%m-%d-%Y" }}</span>
            <div class="content">
              {{ post.content }}
            </div>
          </li>
        </ul>
      {% endfor %}
      {% endif %}

    </div>
  </div>

</div>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
