<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include sidebar.html %}

  {% if paginator.previous_page %}
    <div id="page-content-wrapper" class="index" style="width: 100%;">
  {% else %}
    <div id="page-content-wrapper" class="index home">
    {% include landing.html %}
    {% include mailchimp.html %}
    {% include about.html %}
    <div id="spacer"></div>
    {% include contact.html %}
  {% endif %}

   <div class="section posts">
      <div class="container">
        <ul>
          {% for post in paginator.posts %}
            <li>
              <h2>{{ post.title }}</h2>
              <span class="date">posted: {{ post.date | date: "%m-%d-%Y" }}</span>
              <div class="content">
                {{ post.content }}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>

      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
           <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-caret-left"></i></a>
        {% else %}
          <!-- TODO -->
          <span class="previous"><i class="fa fa-caret-left"></i></span>
        {% endif %}
        <span class="page_number "> {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-caret-right"></i></a>
        {% else %}
          <!-- TODO -->
          <span class="next "><i class="fa fa-caret-right"></i></span>
        {% endif %}
      </div>
    </div>

    {% include footer.html %}

</div>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
