<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include sidebar.html %}

{% if paginator.previous_page %}<!-- when NOT on the root page   -->

  <div id="page-content-wrapper" class="index" style="width: 100%;">

{% else %}<!-- on the root page -->


    {% if page.is_post %}
      <div id="page-content-wrapper" class="single">
    {% else %}<!-- It is NOT a single post -->
      <div id="page-content-wrapper" class="index home">
      {% include search.html %}
      {% include landing.html %}
      {% include about.html %}
      {% include mailchimp.html %}

      <noscript>
        {% include attention.html %}
      </noscript>

      {% include contact.html %}
    {% endif %}

{% endif %}


{% include posts.html %}
{% include footer.html %}


  </div>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
