<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include sidebar.html %}


<div id="page-content-wrapper">
  <div class="section posts">
    <div class="container">


    {% for post in paginator.posts %}
        <ul>
          <li>{{ post.content }}</li>
        </ul>
    {% endfor %}

      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% else %}
          <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
          <span class="next ">Next</span>
        {% endif %}
      </div>

    </div>
  </div>

</div>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
