<!DOCTYPE html>
<html lang="en">

{% include core/head.html %}
{% include core/sidebar.html %}


<div id="page-content-wrapper">
  <div class="section posts">
    <div class="container">


      <ul>
        <li>
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <span class="date">posted: {{ post.date | date: "%m-%d-%Y" }}</span>
          <div class="content">
            {{ post.content }}
          </div>
        </li>
      </ul>



    </div>
  </div>

</div>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
