footer
  .with-love
    span
      | Made with
      i.fa.fa-heart
      | in
      a(href='//www.openstreetmap.org/search?query=columbus%20oh#map=12/39.9612/-82.9988', target='_blank') &nbsp;Columbus
