{% capture baseurl_size %}{{ site.baseurl | size }}{% endcapture %}

head
  meta(charset='utf-8')
  title Open Source Club
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='stylesheet', href='{{ site.baseurl }}/dist/css/main.min.css')
  
  link(rel='apple-touch-icon-precomposed', sizes='57x57', href='{{ site.baseurl }}/dist/img/apple-touch-icon-57x57.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='{{ site.baseurl }}/dist/img/apple-touch-icon-114x114.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='{{ site.baseurl }}/dist/img/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='{{ site.baseurl }}/dist/img/apple-touch-icon-144x144.png')
  link(rel='apple-touch-icon-precomposed', sizes='60x60', href='{{ site.baseurl }}/dist/img/apple-touch-icon-60x60.png')
  link(rel='apple-touch-icon-precomposed', sizes='120x120', href='{{ site.baseurl }}/dist/img/apple-touch-icon-120x120.png')
  link(rel='apple-touch-icon-precomposed', sizes='76x76', href='{{ site.baseurl }}/dist/img/apple-touch-icon-76x76.png')
  link(rel='apple-touch-icon-precomposed', sizes='152x152', href='{{ site.baseurl }}/dist/img/apple-touch-icon-152x152.png')
  link(rel='icon', type='image/png', href='{{ site.baseurl }}/dist/img/favicon-196x196.png', sizes='196x196')
  link(rel='icon', type='image/png', href='{{ site.baseurl }}/dist/img/favicon-96x96.png', sizes='96x96')
  link(rel='icon', type='image/png', href='{{ site.baseurl }}/dist/img/favicon-32x32.png', sizes='32x32')
  link(rel='icon', type='image/png', href='{{ site.baseurl }}/dist/img/favicon-16x16.png', sizes='16x16')
  link(rel='icon', type='image/png', href='{{ site.baseurl }}/dist/img/favicon-128.png', sizes='128x128')

  meta(name='application-name', content='The Open Source Club')
  meta(name='msapplication-TileColor', content='#FFFFFF')
  meta(name='msapplication-TileImage', content='{{ site.baseurl }}/dist/img/mstile-144x144.png')
  meta(name='msapplication-square70x70logo', content='{{ site.baseurl }}/dist/img/mstile-70x70.png')
  meta(name='msapplication-square150x150logo', content='{{ site.baseurl }}/dist/img/mstile-150x150.png')
  meta(name='msapplication-wide310x150logo', content='{{ site.baseurl }}/dist/img/mstile-310x150.png')
  meta(name='msapplication-square310x310logo', content='{{ site.baseurl }}/dist/img/mstile-310x310.png')
  
  {% if baseurl_size == '0' %}
  // if running the site locally use local fonts
  script(src='{{ site.baseurl }}/vendor/js/jquery.min.js', type='text/javascript')
  {% else %}
  // if deploying to github pages use cdn
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js', type='text/javascript')
  {% endif %}
  
  script(src='{{ site.baseurl }}/dist/js/app.min.js', type='text/javascript')
  
