head
  meta(charset='utf-8')
  title Open Source Club
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='stylesheet', href='{{ site.baseurl }}/dist/css/main.min.css')

  link(rel='icon', type='image/png', href='{{ site.baseurl }}/dist/img/osc-logo.ico')
