script(src='{{ site.baseurl }}/vendor/js/jquery.min.js', type='text/javascript')
script(src='{{ site.baseurl }}/dist/js/app.min.js', type='text/javascript')
script(src='{{ site.baseurl }}/vendor/js/jekyll-search.min.js', type='text/javascript')

link(rel='stylesheet', href='{{ site.baseurl }}/vendor/css/normalize.min.css')
link(rel='stylesheet', href='{{ site.baseurl }}/vendor/css/open-sans.min.css')
link(rel='stylesheet', href='{{ site.baseurl }}/vendor/css/font-awesome.min.css')

script(src='{{ site.baseurl }}/vendor/js/mousetrap.min.js', type='text/javascript')
