ul.sidebar
  #main-nav
    a(href='{{ site.baseurl }}/')
      li
        span Home
        
    a(href='{{ site.baseurl }}/schedules')
      li
        span Schedules
        
    a(href='{{ site.baseurl }}/tutorials')
      li
        span Tutorials
        
    a(href='{{ site.baseurl }}/volunteering')
      li
        span Volunteering
        
    a(href='{{ site.baseurl }}/events')
      li
        span Events
        
    a(href='{{ site.baseurl }}/history')
      li
        span History
        
  #sidebar-secondary-wrapper
    .sidebar-secondary
      ul.sidebar-icons
        
        li.flat-turq
          a(href='//twitter.com/osuosc', target='_blank')
            i.fa.fa-twitter
            
        li.flat-pink
          a(href='//github.com/OSUOSC', target='_blank')
            i.fa.fa-github
        
        li.flat-orange
          a(href='{{ site.baseurl }}/atom.xml', target='_blank')
            i.fa.fa-rss
